<ul class="pagination" ng-if="1 < pages.length">
    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1,'pagination-action' : pagination.current != 1 }">
        <a href="" ng-click="setCurrent(1)">First</a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1, 'pagination-action' : pagination.current != 1, 'border-grey-left' : boundaryLinks}" class="ng-scope">
        <a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">Prev</a>
    </li>
    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last, 'pagination-action' : pagination.current != pagination.last, 'border-grey-right' : boundaryLinks }" class="ng-scope">
        <a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding">Next</a>
    </li>
    <li ng-if="boundaryLinks"  ng-class="{ disabled : pagination.current == pagination.last, 'pagination-action' : pagination.current != pagination.last }">
        <a href="" ng-click="setCurrent(pagination.last)">Last</a>
    </li>
</ul>