<link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<link rel="stylesheet" type="text/css" href="assets/css/style-forms.css">
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<style>
	.admin-summary {
		border: 1px solid #ddd;
	}
	.summary-panel h4 {
		background: #f1f5f8 none repeat scroll 0 0;
		color: #2a3e56;
		font-size: 14px;
		line-height: 35px;
		padding: 0 15px;
	}
	.summary-panel > .row {
		margin: 0;
	}
	.summary-panel .sum-bg {
		background: #f9f9f9;
		padding: 10px;
		margin-bottom:10px;
	}
</style>
<div class="col-md-12 addinfo-wrapper">
  <div class="block-cover">
    <div class="block-head">
      <h3>Add Information</h3>
    </div>
    <form name="addUserInfo" class="ng-pristine ng-valid">
      <div class="block-body">
        <div class="admin-summary">
        	<div class="summary-panel">
            	<h4>Admin details</h4>
                <div class="row">
                	<div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Name</b></div>
                            <div class="col-sm-8">Admin Name</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Email</b></div>
                            <div class="col-sm-8">admin@domailname.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-panel">
            	<h4>Admin social platform details</h4>
                <div class="row">
                	<div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Facebook</b></div>
                            <div class="col-sm-8">http://www.facebook.com/admin</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Twitter</b></div>
                            <div class="col-sm-8">http://www.twitter.com/admin</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-panel">
            	<h4>Admin mainstream media details</h4>
                <div class="row">
                	<div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Economics Times</b></div>
                            <div class="col-sm-8">http://www.et.com/admin</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-panel">
            	<h4>Admin other relevant source details</h4>
                <div class="row">
                	<div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Source 1</b></div>
                            <div class="col-sm-8">http://www.source1/admin</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Source 2</b></div>
                            <div class="col-sm-8">http://www.source2/admin</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>Source 3</b></div>
                            <div class="col-sm-8">http://www.source3/admin</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-panel">
            	<h4>Admin user details</h4>
                <div class="row">
                	<div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>User name</b></div>
                            <div class="col-sm-8">User 1</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4"><b>User email</b></div>
                            <div class="col-sm-8">user1@email.com</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>User name</b></div>
                            <div class="col-sm-8">User 2</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4"><b>User email</b></div>
                            <div class="col-sm-8">user2@email.com</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group row">
                            <div class="col-sm-4"><b>User name</b></div>
                            <div class="col-sm-8">User 3</div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4"><b>User email</b></div>
                            <div class="col-sm-8">user3@email.com</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary-panel">
            	<h4>Competitors details</h4>
                <div class="row">
                	<div class="col-md-4">
                    	<div class="sum-bg">
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Competitor name</b></div>
                                <div class="col-sm-8">Competitor 1</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Competitor email</b></div>
                                <div class="col-sm-8">competitor1@email.com</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Facebook</b></div>
                                <div class="col-sm-8">http://www.facebook.com/competitor1</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Twitter</b></div>
                                <div class="col-sm-8">http://www.twitter.com/competitor1</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Economics Time</b></div>
                                <div class="col-sm-8">http://www.et.com/competitor1</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 1</b></div>
                                <div class="col-sm-8">http://www.source1.com/competitor1</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 2</b></div>
                                <div class="col-sm-8">http://www.source2.com/competitor1</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 3</b></div>
                                <div class="col-sm-8">http://www.source3.com/competitor1</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                    	<div class="sum-bg">
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Competitor name</b></div>
                                <div class="col-sm-8">Competitor 2</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Competitor email</b></div>
                                <div class="col-sm-8">competitor2@email.com</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Facebook</b></div>
                                <div class="col-sm-8">http://www.facebook.com/competitor2</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Twitter</b></div>
                                <div class="col-sm-8">http://www.twitter.com/competitor2</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Economics Time</b></div>
                                <div class="col-sm-8">http://www.et.com/competitor2</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 1</b></div>
                                <div class="col-sm-8">http://www.source1.com/competitor2</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 2</b></div>
                                <div class="col-sm-8">http://www.source2.com/competitor2</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 3</b></div>
                                <div class="col-sm-8">http://www.source3.com/competitor2</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sum-bg">
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Competitor name</b></div>
                                <div class="col-sm-8">Competitor 3</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Competitor email</b></div>
                                <div class="col-sm-8">competitor3@email.com</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Facebook</b></div>
                                <div class="col-sm-8">http://www.facebook.com/competitor3</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Twitter</b></div>
                                <div class="col-sm-8">http://www.twitter.com/competitor3</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Economics Time</b></div>
                                <div class="col-sm-8">http://www.et.com/competitor3</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 1</b></div>
                                <div class="col-sm-8">http://www.source1.com/competitor3</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 2</b></div>
                                <div class="col-sm-8">http://www.source2.com/competitor3</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-4"><b>Source 3</b></div>
                                <div class="col-sm-8">http://www.source3.com/competitor3</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
