@import url(fonts.css);
html {
	-ms-overflow-style: scrollbar;
	-webkit-overflow-scrolling: touch;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}/*-------Reset-Style-------*/
@viewport {
width:device-width;
}
@-o-viewport {
width:device-width;
}
@-ms-viewport {
width:device-width;
}
@-webkit-viewport {
width:device-width;
}
::-webkit-selection {
background: #39F;
text-shadow:none;
}
::-moz-selection {
background: #39F;
text-shadow:none;
}
::selection {
	background: #39F;
	text-shadow: none;
}
html {
	font-family: 'PT Sans', sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	border: 0px;
	width: 100%;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'PT Sans', arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	background: #EDEDEF;
}
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary, ul, ol, li {
	margin: 0;
	padding: 0;
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
ul, ol, li {
	list-style: none;
	padding-left: 0px;
}
audio:not([controls]) {
	display: none;
	height: 0;
}
[hidden], template {
	display: none;
}
a {
	background-color: transparent;
	text-decoration: none;
	outline: 0;
	color: #333;
}
a:hover, a:active, a:focus {
	outline: 0;
	text-decoration: none;
}
abbr[title] {
	border-bottom: 1px dotted;
}
b, strong {
	font-weight: 700;
}
dfn {
	font-style: italic;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: .5rem;
	font-weight: 700;
	font-family: 'Roboto', Arial, sans-serif;
}
h4.panel-title {
	font-weight: 400;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
}
mark {
	background: #ff0;
	color: #000;
}
small {
	font-size: 80%;
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -.5em;
}
sub {
	bottom: -.25em;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	outline-max-width: 100%;
}
img:active, img:hover, img:focus {
	outline: 0;
}
img::selection, img::-moz-selection {
background: transparent;
}
img, iframe, svg {
	vertical-align: middle;
}
figure {
	margin: 1em 40px;
}
hr {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 0;
}
pre {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1em;
}
input, select, textarea {
	outline: none !important;
}
input:focus, input:active, input:visited, select:focus, select:active, select:visited, textarea:focus, textarea:active, textarea:visited {
	outline: none !important;
}
select option {
	padding: 6px 10px;
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}
button {
	overflow: visible;
	-webkit-overflow-scrolling: touch;
}
button, select {
	text-transform: none;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	appearance: button;
	-webkit-appearance: button;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
}
button[disabled], input[disabled] {
	cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}
input {
	line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height: auto;
}
input[type="search"] {
	appearance: textfield;
	-webkit-appearance: textfield;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
appearance: none;
-webkit-appearance: none;
}
fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: .35em .625em .75em;
}
legend {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
optgroup {
	font-weight: 700;
}

@media print {
*, *:after, *:before {
	background: 0 0 !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
a, a:visited {
	text-decoration: none;
}
a[href]:after {
	content: " (" attr(href)")";
}
abbr[title]:after {
	content: " (" attr(title)")";
}
blockquote, img, pre, tr {
	page-break-inside: avoid;
}
a[href^="#"]:after, a[href^="javascript:"]:after {
	content: "";
}
blockquote, pre {
	border: 1px solid #999;
}
thead {
	display: table-header-group;
}
img {
	max-width: 100% !important;
}
h2, h3, p {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
select {
	background: #fff !important;
}
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
input[type=date], input[type=time], input[type=datetime-local], input[type=month] {
	line-height: 2.375rem;
}
}/*-------Theme_style--------*/
.lmargin {
	margin-left: 20px;
}
.lpadding {
	padding-left: 20px;
}
.tmargin {
	margin-top: 10px;
}
.lflote {
	float: left;
}
#sidbar {
	display: none;
}
.top_nav {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 50px;
	background: #fff;
	display: inline-block;
	width: 100%;
	z-index: 10;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	box-shadow: -1px 2px 10px #666;
	-webkit-box-shadow: -1px 2px 10px #666;
	-moz-box-shadow: -1px 2px 10px #666;
}
.top_nav_withoutmenu {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 50px;
	background: #f1f1f1;
	display: inline-block;
	width: calc(100% - 2px);
	z-index: 3;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.c-menu {
	cursor: pointer;
	color: #fff;
	display: block;
	float: left;
	padding: 10px;
	width: 100%;
}
.c-menu span {
	background: #fff;
	display: block;
	float: left;
	height: 3px;
	margin: 10px 15px 2px 0;
	position: relative;
	width: 20px;
}
.c-menu span:before, .c-menu span:after {
	position: absolute;
	content: "";
	width: 100%;
	display: block;
	height: 3px;
	background: #fff;
	left: 0px;
}
.c-menu span:before {
	top: -6px;
}
.c-menu span:after {
	bottom: -6px;
}
h3 {
	font-size: 13px;
	font-weight: 500;
	text-transform: uppercase;
}
.main-body {
	margin-left: 115px;
	margin-right: 15px;
	position: relative;
	top: 100px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.main-body-withoutmenu {
	float: left;
	width: calc(100% - 25px);
	margin: 20px 15px 0;
	background: #f8f8f8;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.sectionarea {
	background: #ffffff;
	border: 1px solid #e6e7e7;
}
#topFixedArea > div > h3 {
	color: #798693;
}
.tile_count {
	margin-top:10px;
}
.tile_count .tile_stats_count {
	border-right: 1px solid #d9dee4;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}
.tile_count .tile_stats_count:last-child {
	border-right: none;
}
.tile_count .tile_stats_count .count {
	line-height: 1.2;
}
#top_source.count {
	font-size: 16px;
}
.tile_count .tile_stats_count #top_entity.count {
	font-size: 16px;
	line-height: 1.2;
}
.tile_count .tile_stats_count #most_complaint_topics.count {
	font-size: 16px;
	line-height: 1.2;
}/*-----sidebar style-----*/
.logo-section {
	display: table;
	float: left;
	width: 100px;
}
.logo-section .logo {
	margin: 0 5px 8px;
	display: block;
	float: left;
	width: 100%;
	height: 50px;
	position: relative;
}
.logo-section .logo > img {
	height: auto;
	max-height: 50px;
	width: 100%;
	vertical-align: middle;
	height: auto;
	max-height: 50px;
	width: 100%;
	vertical-align: middle;
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0px;
	bottom: 0;
}
.header-txt {
	color: #000;
	display: table;
	float: left;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 11px;
	font-weight: 700;
	line-height: 1.2;
	margin-left: 10px;
	text-transform: uppercase;
	width: calc(100% - 110px);
	height: 50px;
}
.header-txt > span {
	display: table-cell;
	vertical-align: middle;
}
.side_bar {
	position: fixed;
	top: 50px;
	left: 0px;
	height: 100%;
	background: #375167;
	display: inline-block;
	width: 100px;
	z-index: 3;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}
.navigation {
	float: left;
	width: 100%;
}
.navigation ul {
	float: left;
	width: 100%;/*margin-top: 30px;*/
}
.navigation ul li {
	float: left;
	width: 100%;
}
.navigation ul li a {
	width: 100%;
	padding: 10px 10px !important;
	box-sizing: border-box;
	color: #fff;
	display: block;
	font-size: 13px;
	text-align: center;
	transition: all 0s ease 0s;
	-moz-transition: all 0s ease 0s;
	-webkit-transition: all 0s ease 0s;
}
.navigation ul li a:hover, .navigation ul li a.active {
	text-decoration: none;
	background: rgba(0, 0, 0, 0.2);
}
.navigation ul li a i {
	display: block;
	font-size: 25px;
}/*-----common component style-----*/
.nbt-yellow, .nbt-green, .nbt-red, .Dorange, .Morange, .Lorange, .sentimental-bar {
	padding: 0 !important;
	color: #fff !important;
	border-radius: 0px !important;
	text-align: center;
}
.bgcolor-positive{
	background: #3ebec1;	
}
.bgcolor-negative{
	background: #eb7069;	
}
.bgcolor-neutral{
	background: #dcdddf;	
}
.text-positive{
	color: #3ebec1;	
}
.text-negative{
	color: #eb7069;	
}
.text-neutral{
	color: #858688;	
}
.Dorange {
	background: #ffa800;
}
.Morange {
	background: #ffc000;
}
.Lorange {
	background: #f3e165;
}
.nbt-yellow {
	background: #F3BA49 !important;
}
.nbt-green {
	background: #8DC153 !important;
}
.green {
	color: #7ba75c !important;
}
.nbt-firoza-green {
	background: #4fc9b4 !important;
}
.firoza-green {
	color: #4fc9b4;
}
.nbt-red {
	background: #f55348 !important;
}
.red {
	color: #f55348 !important;
}
.nbt-act i {
	color: #629c11 !important;
	font-size: 17px !important;
}
.nbt-no i {
	color: #d31c1a !important;
	font-size: 17px !important;
}
.nbt-user {
	float: right;
}
.nbt-user ul {
	float: right;
}
.nbt-user ul li {
	float: left;
	padding: 0px 10px;
	position: relative;
}
.nbt-user ul li a {
	height: 50px;
	line-height: 50px;
}
.nbt-user ul li a i {
	color: #375167 !important;
}
.nbt-user ul li a img.user {
	float: left;
	height: 40px;
	width: 40px;
	background: #ccc;
	margin-top: 5px;
	margin-right: 6px;
	border-radius: 50%;
	overflow: hidden;
}
.drpdn {
	position: absolute;
	display: none;
	top: calc(100% + 2px);
	right: 0px;
	width: 300px;
	background: #fff;
	z-index: 999;
	border: 1px solid #ddd;
	padding: 8px;
}
.drpdn h3 {
	float: left;
	width: 100%;
	background: #fff;
	color: #333;
	margin: 5px 0 10px;
}
.notify-block {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	float: left;
	width: 100%;
	height: 204px;
}
.notify-arr, .logout:before {
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: -11px;
	right: 15px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #ccc;
}
.notify-arr:after, .logout:after {
	content: " ";
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 2px;
	right: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
}
.logout:after, .logout:before {
	content: " ";
	top: -11px;
	right: 11px;
}
.logout:after {
	right: 13px;
	top: -9px;
}
.logout:hover:after {
	border-bottom-color: #eee;
}
.notify-list {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	border-bottom: 2px solid #fff;
	padding: 4px;
	background: #eee;
}
.notify-list span {
	float: left;
	width: 60px;
	height: 60px;
	color: #fff;
	font-size: 12px !important;
	margin: 0px !important;
	text-transform: uppercase;
	line-height: 58px;
	text-align: center;
}
.notify-div {
	float: left;
	width: calc(100% - 75px);
	margin-right: 5px;
}
.notify-div h6 {
	margin-top: 0px;
	font-size: 13px;
	line-height: 15px;
	margin-bottom: 5px;
}
.notify-div p {
	font-size: 11px;
	color: #999;
	margin-bottom: 0px;
}
.export-as {
	float: left;
	width: 100%;
}
.exp-radio {
	border-bottom: 1px dashed #ddd;
	float: left;
	padding: 15px 10px 15px 40px;
	position: relative;
	width: 100%;
}
.export-as .exp-radio:first-child {
	border-top: 1px dashed #ddd;
}
.exp-radio:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 10px;
	width: 16px;
	height: 16px;
	border: 1px solid #ddd;
	background: #fff;
	z-index: 1;
	border-radius: 50%;
}
.exp-radio:before {
	content: "";
	position: absolute;
	top: 24px;
	left: 14px;
	width: 8px;
	height: 8px;
	background: #1ABB9c;
	z-index: 2;
	border-radius: 50%;
}
.export-as .exp-radio .icon {
	display: block;
	float: left;
	width: 25px;
}
.exp-radio img {
	margin-top: 6px;
}
.exp-radio p {
	display: block;
	float: left;
	height: 32px !important;
	line-height: 32px !important;
	margin: 0 20px;
	width: 100px;
}
.exp-radio a {
	float: left;
	color: #fff;
	padding: 6px 10px;
	background: #22adca;
	height: 32px !important;
	line-height: normal !important;
}
.exp-radio a:hover {
	color: #fff;
	text-decoration: none;
}
.user-div {
	position: absolute;
	display: none;
	padding: 0;
	top: calc(100% + 2px);
	right: 0px;
	width: 200px;
	background: #fff;
	z-index: 999;
	border: 1px solid #ddd;
}
.user-div a {
	width: 100%;
	padding: 5px 14px !important;
	height: auto !important;
	line-height: normal !important;
	font-size: 13px;
	border-bottom: 1px solid #eee;
	display: block;
}
.user-div a:hover {
	background: #eee;
	text-decoration: none;
	color: #000;
}
.user-div > a .fa {
	margin: 0 5px 0 0;
	text-align: center;
	width: 15px;
}
.adduser-list {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	flex-direction: row;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	width: 100%;
	padding: 4px 0;
}
.adduser-list label {
	float: left;
	width: 55px;
	color: #000;
	font-size: 14px !important;
	font-weight: 400;
	margin: 0px !important;
	text-transform: titlecase;
}
.adduser-form-control {
	display: inline!important;
	border-radius: 0 0 0 0!important;
	box-shadow: 0 0 0 0!important;
	margin: 0 0 0 10px;
}
.adduser-list a {
	background: #1abb9c none repeat scroll 0 0;
	color: #fff;
	float: left!important;
	height: 32px !important;
	line-height: normal !important;
	padding: 6px 10px;
	margin-right: 58%;
	min-width: 80px;
	text-align: center;
}
.default-container {
	background: #fff !important;
	box-shadow: 0px 0px 0px #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 0px !important;
	padding: 5px 10px!important;
	float: left;
	display: block;
	margin: 0 3px;
}
.nbt-form-control {
	display: inline!important;
	border-radius: 0 0 0 0!important;
	box-shadow: 0 0 0 0!important;
	margin: 0 10px;
	width: 14% !important;
}
.nbt-select {
	width: auto !important;
}
#viralityTable .dropContainer .nb-select {
	margin-right: 25px;
}
.nbt-select .btn-default {
	background: #fff !important;
	box-shadow: 0px 0px 0px #fff !important;
	border: none !important;
	border-radius: 0px !important;
}
.nbt-select-new {
	width: 14% !important;
	margin: 0px 16px;
}
.nbt-select-new .btn-default {
	background: #fff !important;
	box-shadow: 0px 0px 0px #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 0px !important;
}
.nbt-select-btn {
	width: auto !important;
	display: block !important;
	margin-left: 15px;
	float: left;
}
#analytics .nbt-select-btn, #viralityTable .nbt-select-btn, #navDiv6 .nbt-select-btn {
}
.nbt-select-btn button {
	border: 1px solid #22adca !important;
	border-radius: 0px !important;
	background: #22adca !important;
	text-shadow: none !important;
	color: #fff !important;
}
.nbt-select-btn a {
	border: 1px solid #ddd !important;
	border-radius: 0px !important;
	background: #ddd !important;
	text-shadow: none !important;
	color: #333 !important;
}
.nbt-table {	/* border: 1px solid #ddd; */
	border-collapse: separate;
}
.nbt-table thead tr {
	background: #375167 !important;
	border: 1px solid #375167;
}
.nbt-table thead tr th {
	border-color: #375167 !important;
}
.nbt-table thead tr th, .nbt-table thead tr td {
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif !important;
	position: relative;
}
.nbt-table tbody tr td {
	font-size: 13px !important;
	font-family: 'PT Sans', sans-serif !important;
}
.nbt-table tbody tr td a {
	color: #375167;
	cursor: pointer;
	font-weight: 700;
}
.nbt-tab li a {
	cursor: pointer;
}
#tblVirality .fa, #tblsocList .fa, #tblSourceDateSentimentAnalysis .fa {
	font-size: 18px;
	margin: 0 5px 0 0;
}
.nbt-checkbox input[type="checkbox"] {
	display: none;
}
.nbt-checkbox {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	vertical-align: middle;
	position: relative;
}
.nbt-checkbox input[type="checkbox"]:checked + span:after {
	content: "\f14a";
	font-family: 'FontAwesome';
	font-weight: normal;
	font-size: 20px;
}
.nbt-checkbox span {
	width: 20px;
	height: 20px;
	background: transparent;
	border-radius: 2px;
	position: relative;
	float: left;
}
.nbt-checkbox span:after {
	content: "\f096";
	font-family: 'FontAwesome';
	font-weight: normal;
	position: absolute;
	top: -4px;
	left: 0px;
	font-size: 20px;
}
.nbt-peger .pagination {
	margin: 0 !important;
}
.nbt-peger .pagination li a {
	color: #375167 !important;
	cursor: pointer;
}
.nbt-peger .pagination .active a {
	background-color: #375167 !important;
	border-color: #375167 !important;
	color: #fff !important;
}
.dotPagesAnchor {
	background-color: #efefef !important;
	color: #565656;
	cursor: pointer;
	padding-bottom: 2px;
	z-index: 2;
}
.nbt-tab {
	width: 100%;
	margin-top: 20px;
}
.nbt-tab-ul {
	font-family: 'Roboto', arial;
	font-weight: 500;
	text-transform: uppercase;
}
.nbt-tab-ul li.active {
	margin-bottom: 0px !important;
}
.nbt-tab-ul li a {
	padding: 10px 30px 10px 15px !important;
	position: relative;
	overflow: hidden;
	border-bottom: 0px solid transparent !important;
}
.nbt-tab-ul li:first-child {
	margin-left: 0px;
}
.nbt-tab-ul li.active a {
	border-bottom: 0px solid transparent !important;
	background: #eee;
	position: relative;
}
.nbt-tab-ul li.active a:after, .nbt-tab-ul li.active a::after {
	content: " ";
	position: absolute;
	background: #22adca;
	display: block;
	width: 10px;
	top: 0px;
	right: 0px;
	height: 100%;
	border-radius: 0px 3px 0px 0px;
}
.nbt-content {
	margin-bottom: 30px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.tab-content.nbt-content.row {
	margin-left: 0;
	margin-right: 0;
}
.nbt-content > div {
	padding: 20px 15px;
	box-sizing: content-box;
	overflow: hidden;
}
#Social {
	padding: 0px;
}/*----block-cover-section----*/
.block-cover-happiness-index, .block-cover-competitive-index, .block-cover {
	background: #FAFAFA;
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	margin-bottom: 20px;
	display: block;
	border-radius: 4px;
}
.block-head-happiness-index, .block-head-competitive-index, .block-head {
	padding: 14px 15px;
	border-bottom: 1px solid #ddd;
	position: relative;
	background-color: #fff;
	border-radius: 4px 4px 0 0;
}
.block-head h3 {
	margin: 0;
	display: block;
	width: auto;
	color: #798693;
	text-align: center;
}
.block-head .btn {
	border: medium none !important;
}
.block-head > div {
	padding-left: 10px;
}
.block-inner-head {
	width: 100%;
	padding: 0 0 15px 0;
}
#dashboard .block-inner-head, #analytics .block-inner-head {
	padding: 0px;
}
.block-inner-head h4 {
	margin: 0 10px 0 0;
	font-size: 14px;
	display: table;
	float: left;
	color: #798693;
	font-family: "PT Sans", sans-serif;
	line-height: 32px;
	font-weight: 400;
}
.block-inner-head .pull-right .input-group {
	margin-bottom: 0px !important;
	display: inline-block;
}
.block-inner-head .pull-right .input-group input[type="text"] {
	background: #fff !important;
	box-shadow: 0px 0px 0px #fff !important;
	border: 1px solid #ccc !important;
	border-radius: 0px !important;
	width: auto !important;
}
.block-inner-head .pull-right .input-group .input-group-btn {
	display: inline-block;
}
.block-inner-head .pull-right .input-group .input-group-btn button {
	border: 1px solid #ccc !important;
	border-radius: 0px !important;
}
.block-inner-head .date {
	display: inline-block;
	position: relative;
}
.block-inner-head .date input {
	border: 1px solid #ccc !important;
	padding: 6px 12px 8px;
	width: 100%;
}
.block-inner-head .date .add-on {
	position: absolute;
	right: 10px;
	top: 7px;
}
.dropContainer > div,
#dashboard .block-inner-head > div:not(.clearfix),
#analytics .block-inner-head > div:not(.clearfix), 
.block-inner-head .first-panel > div:not(.clearfix) {
	display: block !important;
	float: left !important;
	margin-right: 10px;
	min-width: 120px;
	max-width: 180px;
	margin-bottom: 15px;
}
#ticket .block-inner-head > div:not(.clearfix) {
	margin-bottom: 0;
}
.block-inner-head .first-panel {
	padding-left: 0;
	padding-right: 0;
}
#analytics .block-inner-head > div, #viralityTable .block-inner-head > div, {
margin-top: 10px;
}
.block-inner-head > div:not(.first-panel, .second-panel) .btn {
	border: 1px solid #ccc !important;
	min-width: 120px;
}
.second-panel {
	width: auto;
	min-width: auto !important;
	margin-right: 0 !important;
	padding: 0;
}
.no-padding {
	padding: 0;
}
.block-body {
	width: 100%;
	padding: 0px 15px 30px;
}
.block-img {
	float: left;
	width: 100%;
}
.block-img img {
	max-width: 100%;
}
.managep {
	border-right: 1px solid #ddd;
}
.managep li {
	width: 100%;
	display: inline-block;
	margin: 10px 0 10px 0;
}
.managep li a {
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
.managep li a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.tkr-roundbutton {
	background-color: #375167;
	border-radius: 50%;
	height: 40px;
	padding: 10px;
	text-align: center;
	width: 40px;
}
.tkr-roundbutton:hover {
	background-color: #8797A4;
}
.tkr-roundbutton i {
	font-size: 25px;
	margin-right: 0;
	COLOR: #FFFFFF;
}
#Sentiment .highcharts-contextmenu {
	right: 0 !important;
	top: 30px !important;
}
.highcharts-contextmenu {
	line-height: 24px;
}
.highcharts-contextmenu > div {
	border-color: #ddd !important;
	box-shadow: none !important;
}
.highcharts-contextmenu > div > div:hover {
	color: #fff !important;
}
.highcharts-contextmenu hr {
	margin: 2px 0;
}
.highcharts-contextmenu > div > div {
	color: #8b8b8b !important;
	font-size: 12px !important;
}
#chart2 .highcharts-title {
	height: 50px !important;
}
#tkt-create-modal .btn, #tkt-mng-modal .btn {
	background: #1abb9c;
	border: none;
	color: #fff;
	text-shadow: none;
}
#tkt-create-modal .modal-footer, #tkt-mng-modal .modal-footer {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}
.date-time {
	font-family: 'Roboto', arial;
	font-weight: 700;
	margin: 15px 0 0;
}
.date-time > div {
	display: block;
	float: left;
	margin: 0 0 0 10px;
}
.date-time > div.timezone {
	margin-left: 4px;
}
.footer-top {
	height: 75px;
}
.footer {
	background: #1d374d;
	bottom: 0;
	position: fixed;
	left: 0;
	margin-left: 100px;
	padding-right: 100px;
	width: 100%;
	z-index: 999;
}
.footer .powered-by {
	background: url(../img/xpresso-logo.png) no-repeat 0 50%;
	color: #fff;
	display: table;
	float: right;
	font-size: 12px;
	height: 14px;
	line-height: 35px;
	margin: 10px 30px;
	padding: 0;
	text-align: right;
	width: 142px;
}
.footer .radiancx-logo img {
	height: 25px;
	margin: 5px;
	padding: 5px;
	width: auto;
}
.version {
	color: #d5d5d5;
	font-size: 11px;
	line-height: 35px;
	text-align: center;
}
#navDiv6 span.btn {
	width: 60px;
}
#chart1, #Sentiment, #chart2, #contextWiseChart, #contextWisePercentChart {
	min-height: 375px;
}
#Sentiment, #contextWiseSentimentDistributionChart {
	padding-top: 0!important;
}
#tblVirality .sen-box .btn, #tblsocList1 .sen-box .btn,  .sen-box .btn {
	cursor: default;
	display: inline-block;
	height: 13px;	/* margin-left: -4px; */
	float: left;
	border: 0 none;
	padding: 0;
}
#navFilter .block-inner-head {
	padding: 0;
}
#navDiv6 .block-inner-head {
	padding-top: 0;
}
#navDiv5 .nbt-content {
	margin-bottom: 0;
}/* Active Sources Styles*/
#top_source .top1 {
	font-size: 25px;
}
#top_source .top2 {
	font-size: 22px;
}
#top_source .top3 {
	font-size: 20px;
}
#tblsocList1 .fa-facebook-official, .facebook, #tblDashboard .fa-facebook-official, #tableWordCloud .fa-facebook-official {
	color: #4867AA;
}
#tblsocList1 .fa-twitter, .twitter, #tblDashboard .fa-twitter, #tableWordCloud .fa-twitter {
	color: #00ACED;
}
#tblsocList1 .fa-rss, .rss, #tableWordCloud .fa-rss {
	color: #ff6600;
}
#tblsocList .fa-facebook-official, .facebook {
	color: #4867AA;
}
#tblsocList .fa-twitter, .twitter {
	color: #00ACED;
}
#tblsocList .fa-rss, .rss {
	color: #ff6600;
}
#tblVirality .fa-facebook-official, .facebook {
	color: #4867AA;
}
#tblVirality .fa-twitter, .twitter {
	color: #00ACED;
}
#tblVirality .fa-rss, .rss {
	color: #ff6600;
}
#tblVirality td, #tblVirality th {
	padding: 8px 20px;
	position: relative;
}
#tblVirality th > span {
	position: absolute;
	right: 8px;
	top: 10px;
}
#tblVirality td:nth-child(1) {
	width: 22%;
}
#tblVirality td:nth-child(2) {
	width: 15%;
}
#tblVirality thead th:nth-child(3), #tblVirality tbody td:nth-child(3) {
	padding: 8px 30px;
	text-align: right;
	width: 10%;
}
#tblVirality thead th:nth-child(4), #tblVirality td:nth-child(4) {
	padding: 8px 30px;
	text-align: right;
	width: 13%;
}
#tblVirality td:nth-child(5), #tblVirality th:nth-child(5) {
	padding: 8px 65px;
	width: 30%;
}
#tblVirality td:nth-child(6) {
	width: 10%;
}
.td-align-center {
	text-align: center !important;
}
.ticket-mng .progress {
	background-color: #e3e3e3;
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	height: 12px;
	margin-top: 5px
}
.ticket-mng .progress .progress-bar {
	background-image: none;
	box-shadow: none;
}
.ticket-mng .progress .progress-bar.green {
	background-color: #7ba75c;
}
.ticket-mng .progress .progress-bar.red {
	background-color: #f55348;
}
.ticket-mng .progress .progress-bar.yellow {
	background-color: #e8bc00;
}
.select-interval {
	position: absolute;
	right: 10px;
	top: 5px;
}
.select-interval > div {
	border: 1px solid #ccc;
	margin-left: 10px;
}
#sentimentDistributionMonthlyGraphDiv .select-interval > div {
	padding: 0 10px;
}
#sentimentDistributionMonthlyGraphDiv .select-interval > div > label {
	float: left;
	margin: 6px 0 0;
}
.green-ico {
	color: #7ba75c;
}
.red-ico {
	color: #f55348;
}
.align-center {
	text-align: center;
}
#ticketMang + h3, #ticketRes + h3, #ticketResTime + h3 {
	color: #798693;
	margin-top: 10px;
}
#tkt-create-modal .username, #tkt-create-modal .useremail {
	display: table;
	float: left;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	margin: 0 5px 20px 0;
}
#tkt-create-modal .useremail {
	font-weight: 400;
	font-size: 14px;
}
textarea {
	resize: none;
}
#dueDate.date input, #manageDueDate.date input, #manageClosedDate.date input {
	border: 1px solid #ccc;
	line-height: 32px;
	padding: 0 10px;
	width: 100%;
}
#dueDate.date span.add-on, #manageDueDate.date span.add-on, #manageClosedDate.date span.add-on {
	position: absolute;
	right: 10px;
	top: 6px;
}
#dueDate.date, #manageDueDate.date, #manageClosedDate.date {
	position: relative;
}
.aspect-list {
	display: block;
	overflow: hidden;
}
.aspect-list span {
	display: block;
	float: left;
	width: calc(100% - 20px);
}
.aspect-list a {
	float: right;
	width: 20px;
}
.aspect-listing > div {
	float: right;
	width: 100%;
}
.aspect-listing > i {
	display: none;
}
.aspect-listing > i.fa-plus, .aspect-listing > i.fa-minus {
	font-size: 12px !important;
	margin-top: 4px !important;
	cursor: pointer;
	width: 10px;
	display: block;
	float: left;
}
.aspect-listing > i.fa-plus + div, .aspect-listing > i.fa-minus + div {
	float: right;
	width: calc(100% - 15px);
}
.aspect-listing {
	overflow: hidden;
}
#tkt-create-modal .panel {
	border: none;
	box-shadow: none;
}
.modal-header {
	padding-bottom: 5px;
	padding-top: 5px;
}
.padding-lt-0 {
	padding-left: 0 !important;
}
.padding-rt-0 {
	padding-right: 0 !important;
}
#tkt-create-modal input:disabled {
	background: #fff;
	border: medium none;
	color: #000;
	line-height: 32px;
	font-weight: 700;
	width: 100%;
}
.modal-header .close {
	margin-top: 0px;
	font-size: 3em;
    color: #444;
    opacity: 1;
    font-weight: 300;
}
#tableSocialListening tr td:nth-child(1) {
	width: 15%;
}
#tableSocialListening tr td:nth-child(2) {
	width: 10%;
}
#tableSocialListening tr td:nth-child(3) {
	width: 15%;
}
#tableSocialListening tr td:nth-child(4) {
	width: 40%;
}
#tableSocialListening tr td:nth-child(5) {
	width: 20%;
}
.modal-success {
	background-color: #dff0d8;
	border-color: #d0e9c6;
	color: #3c763d;
}
.modal-warning {
	background-color: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}
.modal-danger {
	background-color: #f2dede;
	border-color: #ebcccc;
	color: #a94442;
}
#alertModal .modal-dialog {
	top: 30%;
}
#alertModal .modal-dialog p {
	font-size: 16px;
	margin: 0;
}
.sen-box {
	white-space: nowrap;
	overflow: hidden;
	border-radius: 3px;
	margin-right: 15px;
}
.no-records {
	background-color: #fcf8e3;
	color: #8a6d3b;
	font-weight: 700;
}
.text-green {	/* color: #7ba75c; */
	color: #8DC153;
}
.text-red {
	color: #f55348;/* color: #f76f66; */
}
.text-yellow {
	color: #F6BC41;
}
#navDiv2 .btn-group, #navDiv1 {
	position: static;
}
.pagination {
	margin: 0 15px 15px 0;
}
#Social .pagination {
	margin: 0;
}
#viralityTable .block-head {
	padding-left: 0;
	padding-right: 0;
}
#contextWiseSentimentDistributionChart {
	min-height: 400px;
}
.font-small {
	font-size: 15px;
}
.font-medium {
	font-size: 20px;
}
.font-big {
	font-size: 25px;
}
.table > tbody > tr {
	transition: background 0.0s;
}
.no-data {
	background-color: #fcf8e3;
	border-color: #faf2cc;
	color: #8a6d3b;
}
#analytics .dropdown {
	width: 25%;
	min-width: 165px !important;
}
#viralityTable .dropdown {
	float: left;
	width: 25%;
	min-width: 165px !important;
}
a {
	cursor: pointer;
}/* Pre-active page CSS start */
.pre-active {
	background: #F8F8F8;
	padding: 50px;
}
.hourglass {
	margin: 20px auto;
	display: table;
	width: 100px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}
.hourglass > img {
	width: 100%;
	height: auto;
}
.pre-active-text1, .pre-active-text2 {
	text-align: center;
}
.pre-active-text1 {
	font-size: 25px;
}
.pre-active-text2 {
	color: #375167;
	font-size: 40px;
	font-weight: 700;
}
@-webkit-keyframes spin {
0% {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
}
@keyframes spin {
0% {
-webkit-transform: rotate(0deg);
-ms-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform: rotate(360deg);
-ms-transform: rotate(360deg);
transform: rotate(360deg);
}
}/* Pre-active page CSS end *//* Add-info-summary page CSS start */
.admin-summary {
	border: 1px solid #ddd;
}
.summary-panel h4 {
	background: #f1f5f8 none repeat scroll 0 0;
	color: #2a3e56;
	font-size: 14px;
	line-height: 35px;
	padding: 0 15px;
}
.summary-panel > .row {
	margin: 0;
}
.summary-panel .table {	/* background: #f9f9f9; */
	padding: 10px;
	margin: 10px;
}/* Add-info-summary page CSS end */
.validation-message {
	color: #a94442;
	font-size: 0.8em;
}
.transparent {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, .7);
	z-index: 9999;
}
.disabled, .disabled:hover {
	cursor: not-allowed;
	opacity: 0.65;
	background: none !important;
}
.clear {
	clear: both;
}
.dropdown {
	height: 34px;
}/* Daily Snapshot starts */
.snap-block {
	margin-bottom: 0;
	padding: 5px 0;
}
.snap-source {
	overflow: hidden;
	width: 100%;
	font-size: 12px;
}
.snap-source .lt {
	float: left;
	width: 40%;
}
.snap-source .rt {
	float: left;
	text-align: right;
	width: 60%;
}
.snap-source .rt > div {
	display: table;
	float: right;
}
.snap-source .rt .fa {
	font-size: 14px;
}


#dailySnapshot .count {
    display: table;
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0;
}
#dailySnapshot .new-mail {
    background: #777;
    border-radius: 12px;
    color: #fff;
    display: table;
    float: left;
    font-size: 10px;
    margin: 18px 0 0 2px;
    padding: 1px 3px;
}
.snap-context span {
	font-size: 12px;
	font-weight: 700;
}
.snap-context span::after {
	color: #000;
	font-size: 22px;
	font-weight: 400;
	padding: 0 10px;
}
.snap-context span:last-child::after, .no-topic::after {
	content: "" !important;
}
.tile_count .tile_stats_count {
	border: none;
}
.count_top {
	display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.count_top > b {
	font-weight: 500;
}
.scount {
    float: left;
    text-align: left;
}
.sper {
	float: left;
	font-size: 10px;
	margin: 5px 0 0 10px;
}
.snap-block .row .col-md-4 {
	padding-right: 0;
}
.snap-block .row .col-md-8 {
	padding-left: 0;
}
.csper {
    display: block;
    float: left;
    font-size: 12px;
    margin: -8px 10px 0 0;
    width: 100%;
}
.tile_count .tile_stats_count .count {
	font-size: 20px
}
.text-default {
	color: #2188c9;
}
#dailySnapshot .block-body {
	overflow: hidden;
	padding: 0;
}
.snap-source-name {
	font-size: 12px;
	font-weight: 700;
}
.border-0 {
	border: 0 none !important;
}
.tile_stats_count.border-left {
	border-left: 1px solid #ddd;
}
.tile_count.border-top {
	border-top: 1px solid #ddd;
}
.count-com {
	margin: 0;
}
#dailySnapshot .block-head > h3 {
	text-align: left;
}
.brck {
	float: left;
	font-size: 11px;
	padding: 0 2px;
}
.count.count-com {
	clear: both;
	float: none;
}
.count.count-com {
	clear: both;
	float: none;
	line-height: 12px !important;
}
.count_top + .current-tlt {
	margin-left: 16px;
}
#viralityTable > div:first-child .bootstrap-select > .btn {
	border: 1px solid #ccc !important;
}/* Daily Snapshot ends */
.form-control[readonly] {
	background-color: #fff;
	border-color: rgb(204,204,204);
}
.pointer {
	cursor: pointer;
}
.kpi-head {
	font-size: 20px;
	position: relative;
}
#dailySnapshot .block-head {
	padding: 8px 15px;
}
#dashboard h3 {
	color: #798693;
	margin-bottom: 0;
}
#viralityTable .block-head {
	padding: 0 15px 0 15px;
}
#viralityTable .block-body {
	padding: 15px;
}
#dashboard .block-body, #analytics .block-body {
	padding: 15px;
	overflow: unset;
}
#dashboard .nbt-tab, #analytics .nbt-tab {
	margin: 0;
}
#dashboard .nbt-content, #analytics .nbt-content {
	border: medium none;
	margin: 0;
}
#tblsocList {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.filter-option {
	font-size: 13px;
}
#tblsocList1 td:nth-child(1) {
	width: 17%;
}
#tblsocList2 td, #tblsocList2 th {
	padding: 8px 10px;
}
#tblsocList1 td:nth-child(6) {
	width: 13%;
}
#tblsocList1 td:nth-child(2) {
	width: 12%;
}
#tblsocList1 td:nth-child(5), #tblsocList1 th:nth-child(5) {
	padding: 8px 0 8px 45px;
	width: 25%;
}
#tblsocList1 td:nth-child(4), #tblsocList1 th:nth-child(4) {
	text-align: right;
	width: 10%;
}
#tblsocList1 td:nth-child(3), #tblsocList1 th:nth-child(3) {
	text-align: right;
	width: 10%;
}
#tblsocList1 td:nth-child(7) {
	width: 13%;
}
.ajax_error_resp {
	padding: 25% 0;
	text-align: center;
	color: #f55348;
	font-weight: bold;
}
.ajax_error_resp_table {
	text-align: center;
	color: #f33f36;
	font-weight: bold;
}
.padding-0 {
	padding: 0!important;
}
.padding-top-5 {
	padding-top: 5px!important;
}
.padding-15 {
	padding: 15px !important;
}
.padding-top-15 {
	padding-top: 15px !important;
}
.padding-bottom-0 {
	padding-bottom: 0 !important;
}
#tblVirality > tbody > tr > td, .table > tbody > tr > td {
	border-top: 0 none;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
}
#tblVirality > tbody > tr > td {
	padding-top: 10px !important;
}
.nbt-table > tbody > tr:nth-child(even) > td {
	background-color: #f9f9f9;
}
.nbt-table > tbody > tr:nth-child(odd) > td {
	background-color: #fff;
}
.display-in-block {
	display: inline-block;
}
.block-head-competitive-index .fa, .block-head-happiness-index .fa, .block-head-competitive-index .fa {
	font-size: 20px;
	color: #22adca;
	margin-right: 10px;
	float: left;
}
.block-head-competitive-index h3 {
	color: #798693;
	margin-bottom: 0;
}
.logout_contain {
	background-color: #375167;
	color: #fff !important;
}
.logout_contain * {
	color: #fff;
	float: left;
	display: block;
}
.logout_contain .logout {
	color: #fff;
	font-size: 1.1em;
	padding: 0px 10px;
	float: right;
}
.logout_contain i {
	color: #fff;
	font-size: 1.4em;
	padding: 15px 0px 15px 10px;
}
.logout_contain .fa-sign-out:before {
	color: #fff;
}
.block-body rect.highcharts-background, .block-body .highcharts-button rect {
	fill: #FAFAFA;
}
.pagination > li.pagination-action > a {
	color: #fff;
	cursor: pointer;
	background-color: #375167;
	border-color: #375167;
}
.pagination > li.active > a {
	background-color: #375167;
	border-color: #375167;
}
.pagination > li.pagination-action.border-grey-left > a {
	border-left-color: #d4d4d4;
}
.pagination > li.pagination-action.border-grey-right > a {
	border-right: 2px solid #d4d4d4;
}
.fa-filter {
	float: left;
	padding: 2px 0;
	font-size: 25px;
	color: #22adca;
}
.nbt-tab-ul .fa {
	font-size: 21px;
	padding: 0px 0;
	vertical-align: -3px;
	margin-left: -5px;
	margin-right: 3px;
}
#dashboard .fa-filter, #analytics .fa-filter, #navDiv6 .fa-filter {
	margin-right: 10px;
}
.nbt-tab-ul .active .fa {
	color: #22adca;
}
.sub-nav-bar {
	background-color: #375167;
	color: #fff;
	top: 51px;
	position: absolute;
	width: 100%;
	left: 15px;
	box-shadow: -1px 2px 5px #666;
	-webkit-box-shadow: -1px 2px 5px #666;
	-moz-box-shadow: -1px 2px 5px #666;
	padding: 5px 0;
	font-weight: 300;
	font-size: 13px;
}
.display-table {
	display: table;
	table-layout: fixed;
	width: 84%;
}
.display-table > div {
	display: table-cell;
	float: none;
}
.caret-abz {
	width: 20px;
	padding: 0 5px;
}/* Analyze page CSS */
#accordion > .panel-default > .panel-heading {
	background-image: none;
	background-color: #375167 !important;
	color: #eeeeee;
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 500 !important;
}
.analyze .block-body {
	padding: 20px 0px 5px;
}
.analyzeChartContainer .block-body {
	padding-top: 0;
}
#twitter_analyze-chart1, #twitter_analyze-chart2, #twitter_analyze-chart3, #twitter_analyze-chart4, #twitter_analyze-chart5, #twitter_analyze-chart6, #fb_analyze-chart1, #fb_analyze-chart2, #fb_analyze-chart3, #fb_analyze-chart4, #fb_analyze-chart5, #fb_analyze-chart6 {
	min-height: 200px;
}
#twitter_analyze-chart1, #fb_analyze-chart1 {
	min-height: 220px;
}
.analyze .block-body > div:not(.row) {
	height: 200px !important;
}
.draw-chart {
	height: 230px !important;
}
.analyze-calender {
	height: 203px !important;
}
.kpi-bar {
	font-size: 13px;
	margin: 0 30px 0 50px;
}
.kpi-bar > div > div {
	text-align: center;
}
.kpi-head .action-arrow {
	position: absolute;
	right: 0;
	top: -5px;
}
.kpi-head .social-icon {
	left: 0;
	position: absolute;
	top: -5px;
}
.senti-box {
	margin: 0 -15px;
}
.senti-box .nbt-table > tbody > tr:nth-child(2n) > td {
	background: none;
}
.analyze-calender .datetimepicker {
	width: auto;
}
.analyze-calender .datetimepicker .table {
	width: 95%;
	margin: auto;
}
.analyze-calender .table-condensed > tbody > tr > th, .analyze-calender .table-condensed > tbody > tr > td {
	padding: 3px 0px;
}
.c-hidden {
	visibility: hidden;
	border: 0 none !important;
}
.analyze-calender .table-condensed > tbody > tr > td.day {
	color: #444;
	background-color: #e3f1ff !important;
	border-radius: 0;
	border: 1px solid #95cdfb;
}
.analyze-calender .table-condensed > tbody > tr > td.future-date {
	color: #444;
	background-color: #dedede !important;
}
.analyze-calender .table-condensed > tbody > tr > td.max {
	background-color: #22adca !important;
	color: #fff;
	border-color: #22adca;
}
.analyze-calender .table-condensed > tbody > tr > td.max0 {
	background-color: #0f7f96 !important;
	color: #fff;
	border-color: #0f7f96;
}
.analyze-calender .table-condensed > tbody > tr > td.max1 {
	background-color: #21899e !important;
	color: #fff;
	border-color: #21899e;
}
.analyze-calender .table-condensed > tbody > tr > td.max2 {
	background-color: #3594a7 !important;
	color: #fff;
	border-color: #3594a7;
}
.analyze-calender .table-condensed > tbody > tr > td.max3 {
	background-color: #419aad !important;
	color: #fff;
	border-color: #419aad;
}
.analyze-calender .table-condensed > tbody > tr > td.max4 {
	background-color: #55a5b6 !important;
	color: #fff;
	border-color: #55a5b6;
}
.analyze-calender .table-condensed > tbody > tr > td.max5 {
	background-color: #6ab1c0 !important;
	color: #fff;
	border-color: #6ab1c0;
}
.analyze-calender .table-condensed > tbody > tr > td.max6 {
	background-color: #7ebdca !important;
	color: #fff;
	border-color: #7ebdca;
}
.analyze-calender .table-condensed > tbody > tr > td.max7 {
	background-color: #92c8d3 !important;
	color: #fff;
	border-color: #92c8d3;
}
.analyze-calender .table-condensed > tbody > tr > td.max8 {
	background-color: #a4d2db !important;
	color: #fff;
	border-color: #a4d2db;
}
.analyze-calender .table-condensed > tbody > tr > td.max9 {
	background-color: #b6dbe3 !important;
	color: #fff;
	border-color: #b6dbe3;
}
.analyze-calender .table-condensed > tbody > tr > td.upper-max {
	background-color: #35b3ce !important;
	color: #fff;
	border-color: #35b3ce;
}
.analyze-calender .table-condensed > tbody > tr > td.lower-max {
	background-color: #50bcd3 !important;
	color: #fff;
	border-color: #50bcd3;
}
.analyze-calender .table-condensed > tbody > tr > td.avg {
	background-color: #6ec6d8 !important;
	color: #fff;
	border-color: #6ec6d8;
}
.analyze-calender .table-condensed > tbody > tr > td.min {
	background-color: #8dd0de !important;
	color: #fff;
	border-color: #8dd0de;
}
.clock-svg {
	display: block;
	margin: 0 auto;
}
.margin-0 {
	margin: 0 !important;
}
.margin-15 {
	margin: 15px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-left-15 {
	margin-left: 15px !important;
}
.border-radius-top-right {
	border-radius: 4px 4px 0 0;
}
.padding-top-bottom-15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.padding-left-right-15 {
	padding-left: 15px;
	padding-right: 15px;
}
.senti-box td {
	text-align: left;
}
.word-cloud-title {
	background-color: #375167;
	color: #fff;
	font-weight: bold;
	line-height: 39px;
	position: relative;
}
.word-cloud-title > i {
	left: 30px;
	position: absolute;
	top: 12px;
}
#tableWordCloud tr td:nth-child(1) {
	width: 10%;
}
#tableWordCloud tr td:nth-child(2) {
	width: 15%;
}
#tableWordCloud tr td:nth-child(3) {
	width: 20%;
}
#tableWordCloud tr td:nth-child(4) {
	width: 15%;
}
#tableWordCloud tr td:nth-child(5) {
	width: 30%;
}
#tableWordCloud tr td:nth-child(6) {
	width: 10%;
}
.auto_scrollable {
	overflow-x: auto;
	float: left;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
.dropdownList {
	background: #fcfcfc;
	color: #000;
	font-weight: 300;
	/* left: 9px; */
	min-width: 200px;
	position: absolute;
	/* top: 30px; */
	width: auto;
	z-index: 1;
	box-shadow: 0px 2px 4px 1px #ddd;
}
.selectEntity {
	font-size: 14px !important;
	margin: 0 !important;
	float: none;
	color: #fff;
}
.dropdownList > ul {
	max-height: 300px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.dropdownList li {
	border: 1px solid #ddd;
	padding: 5px 10px;
}
.dropdownList li + li {
	margin-top: -1px;
}
.border {
	border: 1px #eee solid;
}
.border-top-0 {
	border-top: 0 none;
}

@media (max-width: 990px) {
.loginform-wrapper .col-sm-12 label {
	text-align: left;
}
}
.block-body-pad0 {
	height: 232px;
	padding: 10px 0;
}
.facebook-listing {
	padding: 0 10px;
	height: 130px;
}
.facebook-listing .expression {
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 10px 0;
}
.facebook-listing .expression > div {
	display: table;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-right: 20px;
	padding: 0 0 0 23px;
}
.facebook-listing .expression > div.retweet {
	background: url(../img/retweet.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.like {
	background: url(../img/like.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.love {
	background: url(../img/love.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.laugh {
	background: url(../img/haha.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.wow {
	background: url(../img/wow.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.sad {
	background: url(../img/sad.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.angry {
	background: url(../img/angry.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.comment {
	background: url(../img/comment.png) no-repeat 0 50%;
	float: right;
	margin-right: 0;
}
.facebook-listing .expression > div.seen {
	background: url(../img/seen.png) no-repeat 0 50%;
	float: right;
}
.facebook-listing .post {
	border: 1px solid #ddd;
	padding: 10px 15px;
}
.facebook-listing .post + .post {
	margin-top: -1px;
}
.facebook-listing .post .post-txt {
	margin-bottom: 10px;
}
.activeprofile h3, .setting-wrapper h3 {
	text-align: left;
}
.activeprofile h3 i, .setting-wrapper h3 i {
	padding: 0 5px 0 15px;
}
.nbt-user ul li.sp2 {
	background: #455f75;
	padding: 0 15px;
}
.nbt-user ul li.sp2 a i {
	color: #fff !important;
	display: block;
	font-size: 22px;
	line-height: 48px;
	padding-bottom: 0;
	padding-top: 2px;
}
#tblsocList {
	min-width: 600px;
	margin-right: 10px;
}
/*-----D3 Tooltip style----*/
.d3-tooltip {
	position: absolute;
	z-index: 10;
	border: 1px solid;
	border-radius: 4px;
	visibility: hidden;
	background-color: #fff;
	padding: 10px 15px;
}
.data-type {
	text-transform: capitalize;
}
/*-------------------------*/

/*--------Bootstrap Tooltip----------*/
.tooltip-inner {
	padding: 10px;
	color: #444;
	background-color: #fff;
	border: 1px solid #95cdfb;
	text-align: left;
}
.tooltip.top .tooltip-arrow {
	border-width: 7px 7px 0;
	border-top-color: #95cdfb;
	bottom: -1px;
}
.tooltip.in {
	filter: alpha(opacity=100);
	opacity: 1;
}
/*---------------End---------------------*/
.slimScrollBar {
	z-index: 1 !important;
}
/* @media (max-width: 1024px){
	.senti-box .row > div{
		width: 50%;
	}
}

@media (max-width: 768px)
{
	#Sentiment .col-sm-12,
	#Sentiment .col-xs-12	{
		width: 100%;
	}
} */
/*------Scroll bar styling for iPad------*/
::-webkit-scrollbar {
 -webkit-appearance: none;
 width: 7px;
}
::-webkit-scrollbar-thumb {
 border-radius: 4px;
 background-color: rgba(0,0,0,.5);
 -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
/*------Snapshot style------*/
.filter-bar {
	background: #375167;
	padding: 11px 15px;
	/* margin-bottom: 15px; */
}
.filter-block{
	display: table;
	position: relative;
}
ul.filters {
	background: url(../img/snapshot-icon.png) no-repeat 0 50%;
	display: block;
	overflow: hidden;
	padding: 0 0 0 50px;
}
.filters > li {
	display: block;
	float: left;
	padding-right: 24px;
}
.filters > li:after {
	content: "|";
	padding-left: 24px;
	color: #bbb;
	line-height: 24px;
}
.filters > li:last-child {
	padding-right: 0;
}
.filters > li:last-child:after {
	content: "" !important;
	padding-left: 0;
}
.filters > li a {
	color: inherit;
	color: #bbb;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
}
.filters > li a.active {
	color: #fff;
}
.filter-bar .btn {
	padding: 2px 25px 2px 12px;
}
.custom-date {
    color: #fff;
    margin-right: 15px;
    font-size: 18px;
}
#dailySnapshot .block-head{
	border-bottom: none;
}
[id^="abz-snapshot-listing-block"] {
	padding: 0 0 15px;
	background: #fff;
}
.snapshot-scroll, .snapshot-overall-scroll{
	padding: 0 15px;
}
[id^="abz-snapshot-listing-block"] .panel {
	background: #f0f0f0;
	border-radius: 0 !important;
}
[id^="abz-snapshot-listing-block"] > .panel-default > .panel-heading {
	background-color: #f0f0f0 !important;
	background-image: none !important;
	color: #000;
}
[id^="abz-snapshot-listing-block"] .icon {
	display: block;
	width: 25px;
	height: 25px;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 5px;
}
[id^="abz-snapshot-listing-block"] .feedback-icon {
	background-image: url(../img/feedback-icon.png);
}
[id^="abz-snapshot-listing-block"] .complaint-icon {
	background-image: url(../img/complaint-icon.png);
}
[id^="abz-snapshot-listing-block"] .comment-icon {
	background-image: url(../img/comment-icon.png);
}
[id^="abz-snapshot-listing-block"] .snapshot-count {
	margin-left: 30px;
}
[id^="abz-snapshot-listing-block"] .count-txt {
	font-size: 16px;
}
[id^="abz-snapshot-listing-block"] .count-status {
	font-size: 11px;
}
.abz-snapshot-detail > .panel-body > .row > div + div {
	margin-top: 15px;
	border-top: 1px solid #ccc;
}
.abz-snapshot-detail > .panel-body > .row > div + div > .row > div {
	border-left: 1px solid #ccc;
	padding-top: 15px;
	padding-bottom: 5px;
}
.abz-snapshot-detail > .panel-body > .row > div + div > .row > div:first-child {
	border: none;
}
.graph-link > img {
	width: 100%;
	max-height: 82px;
	max-width: 162px;
	margin: 0 auto;
	display: block;
}
.graph-link {
	display: block;
}
.snapshot-status-txt {
	font-size: 13px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.snapshot-status-txt h4 {
	color: #798693;
	font-size: inherit;
	margin: 0;
	font-weight: 500;
}
.abz-snapshot-detail .panel-body {
	padding-bottom: 0;
}
[id^="abz-snapshot-listing-block"] h4 a {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #000;
	text-transform: capitalize;
}

[id^="abz-snapshot-listing-block"] .panel-default > .panel-heading{
	height:38px;
}
[id^="abz-snapshot-listing-block"] h4.panel-title a:before {
	font-family: 'FontAwesome';
	content: "\f0d7";
	padding-right: 5px;
}
[id^="abz-snapshot-listing-block"] h4.panel-title a.collapsed:before {
	content: "\f0da";
}
[id^="abz-snapshot-listing-block"].full-width .panel-body {
	padding-top: 0;
	padding-bottom: 0;
}
[id^="abz-snapshot-listing-block"].full-width .abz-snapshot-detail > .panel-body > .row > div + div {
	margin-top: 0;
	border: none;
}
[id^="abz-snapshot-listing-block"].full-width .col-block {
	padding: 15px !important;
	border-right: 1px solid #ccc !important;
	height: 70px;
}
[id^="abz-snapshot-listing-block"].full-width .abz-snapshot-detail > .panel-body > .row > div + div > .row > div{
	border: none;
	padding-top: 0;
	padding-bottom: 0;
}

[id^="abz-snapshot-listing-block"].full-width .snapshot-status-txt {
	float:left;
	width:50%;
	margin-bottom: 0;
}
[id^="abz-snapshot-listing-block"].full-width .col-block-row {
	padding: 0;
}

[id^="abz-snapshot-listing-block"].full-width .col-block-row > .col-block:last-child{
	border: none !important;
}

.select-custom-date {
    position: absolute;
    right: 0;
    background: #fff;
    width: 250px;
    padding: 15px;
    z-index: 1;
    top: 35px;
    box-shadow: 0px 2px 10px 2px rgba(000, 000, 000, 0.5);
}

.select-custom-date .nbt-select-btn{
	margin-left: 0;
}

.select-custom-date .dropdown {
    margin-bottom: 10px;
}
/*============= Custom Loader ===============*/
#spinner {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, .5); 
	z-index: 9999;
}

.loader,
.loader:before,
.loader:after {
  background: #01b6c5;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
    color: #01b6c5;
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/*===========================================*/
#snapshot-graph-modal .chart-block{
	min-height: 375px;
}
#snapshot-graph-modal .chart-block .highcharts-container{
	width: 95% !important;
}
#snapshot-graph-modal .highcharts-xaxis-labels tspan{
	font-size: 0.8em;
}
#snapshot-graph-modal .highcharts-button{
	display: none;
}
@media (min-width: 768px)
{
	#snapshot-graph-modal .modal-dialog {
	    width: 90%;
	    margin: 30px auto;
	}
}
#news li {
	color: #375167;
	line-height: 25px;
	list-style: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#news li a {
	color: #375167;
	font-weight: bold;
}
.latest-news {
	border: 1px solid #22adca;
	border-radius: 4px;
	float: left;
	line-height: 20px;
	margin: 0 0 0 115px;
	text-align: left;
	width: 70%;
	position: relative;
}
.latest-news > h3 {
	background: #22adca;
	float: left;
	line-height: 25px;
	margin: 0;
	padding: 0 15px;
}
.latest-news > ul {
	padding: 0 15px;
	background: #fff;
}
.view-all-latest-news {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  border: none;
  background: #22adca !important;
  text-shadow: none;
  color: #fff;
  line-height: 25px;
  padding: 0 15px;
}
.view-all-latest-news:hover, .view-all-latest-news:focus, .view-all-latest-news:active{
	background: #2C4152;
	color: #fff;
}
.dashboard-carousel {
	width: 100%;
	height: 162px;
	overflow: hidden;
}
#dailySnapshot .snap-block {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	margin: 10px 1px;
	padding: 10px;
	position: relative;
}

.slide {
	width: 395px;
	float: left;
	list-style: none;
	margin-right: 10px;
}

.slide .snap-block {
	height: 142px
}

.bx-wrapper {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.bx-wrapper .bx-viewport {
	left: 0;
}

.margin-lt-rt-0 {
	margin-left: 5px;
	margin-right: 5px;
}
.bx-controls-direction {
	float: right;
	position: relative;
	top: -185px;
	width: 90px;
}

.background- {
	background-color: #d4d4d4;
}
.background-positive {	/* color: #7ba75c; */
	background-color: #8DC153;
}
.background-negative {
	background-color: #f55348;/* color: #f76f66; */
}
.background-neutral {
	background-color: #F6BC41;
}
.kpi-post-tweet-wise .block-head h3 {
    text-align: left;
    line-height: 32px;
    margin-left: -18px;
}
.post-filter-wapper {
    float: right;
    width: auto;
}

.post-filter-wapper > label {
  line-height: 30px;
  float: left;
  margin-right: 20px;
  font-weight: bold;
}

.post-filter-wapper > div {
    margin-bottom: 0 !important;
}
.post-filter-wapper .nbt-select-new .btn-default {
    border: 1px solid #ccc !important;
}
.graph-ar .nbt-select-new {
    width: 19% !important;
    margin: 0 0 4px;
    text-transform: uppercase;
}
.snap-context {
    margin-bottom: 0;
    padding: 5px 0;
}
.snap-context .count_top {
    display: blox;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-right: 6px;
    font-family: 'Roboto', Arial, sans-serif;
    color: #798693;
}
.snap-context .count {
	margin-top: 5px;
}
.dash-context-text{
	clear: both;
    float: none;
    line-height: 12px !important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
}
.display-ib {
    display: inline-block;
}
.context-filter {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 7px 12px 8px;
    position: relative;
    text-transform: uppercase;
    top: -2px;
	display: inline-block;
}
.context-filter .validation-message {
    text-transform: none;
    font-size: 11px;
    margin: 9px 0 0 -14px;
}
.contexts-listing {
   position: absolute;
   background: #fff;
   z-index: 9;
   left: 0;
   padding: 10px;
   border: 1px solid rgba(0, 0, 0, 0.15);
   top: 35px;
   border-radius: 5px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
   width: 170px;
}
.row2 {
    height: 55px;
}
.mar-tp-10 {
    margin-top: 10px;
}
#analytics .row2 .dropdown {
    width: 40%;
    float: left;
    margin-right: 4px;
}
#analytics .top-advocates .row2 .dropdown {
    width: 32%;
    margin-left: 4px;
}
#tableSocialListening-social tr td:nth-child(1) {
	width: 10%;
}
#tableSocialListening-social tr td:nth-child(2) {
	width: 10%;
}
#tableSocialListening-social tr td:nth-child(3) {
	width: 15%;
}
#tableSocialListening-social tr td:nth-child(4) {
	width: 30%;
}
#tableSocialListening-social tr td:nth-child(5) {
	width: 12%;
}
#tableSocialListening-social tr td:nth-child(6) {
	width: 25%;
}
#tableSocialListening-social tr td:nth-child(7) {
	width: 5%;
}
.tile_stats_count-tp {
    border-left: 1px solid #ccc;
    margin-left: -15px;
}
.tile_stats_count-tp > div{
    padding: 0 0 0 15px;
}
.bx-wrapper .bx-prev,
 .bx-wrapper .bx-next {
    background: #fff !important;
    border-radius: 50%;
    font-family: FontAwesome;
    color: #fff;
    font-size: 0;
    text-indent: unset !important;
}
.bx-wrapper .bx-prev:before,.bx-wrapper .bx-next:before{
	width: 12px;
    height: 22px;
    font-size: 18px;
    color: #000;
    display: block;
    position: absolute;
    top: 5px;
}

.bx-wrapper .bx-prev:before{
    content: '\f053';
    left: 9px;
   
}
.bx-wrapper .bx-next:before{
    content: '\f054';
    right: 9px;
   
}
#newsModal .modal-body > p {
    display: block;
    background: #fdfdfd;
    padding: 5px 15px;
    margin-bottom: 5px;
    border: 1px solid #f1f1f1;
    font-size: 12px;
}
.view-all-latest-news {
  position: absolute;
  right: 0;
  top: 0;
  height: 25px;
  border: none;
  background: #22adca !important;
  text-shadow: none;
  color: #fff;
  line-height: 25px;
  padding: 0 15px;
}
.view-all-latest-news:hover, .view-all-latest-news:focus, .view-all-latest-news:active{
	background: #2C4152;
	color: #fff;
}
#newsModal .modal-body > p a {
    display: block;
    font-weight: bold;
}

 .fa-email:before {
  content: "\f0e0";
}
.fa-fb:before {
  content: "\f230";
  color: #4867aa;
}

.fa-tw:before {
  content: "\f099";
  color: #00ACED;
}

.fa-ccri:before {
  content: "\f09e";
  color: #ff6600;
}
.snap-icon {
    width: 15px;
    height: 20px;
    line-height: 20px;
}

.snap-icon.fa-facebook:before{
	color: #4867aa;
}
.snap-icon.fa-twitter:before{
	color: #00ACED;
}
.snap-icon.fa-envelope:before{
}
.snap-icon.fa-rss:before{
	color: #ff6600;
}
.embedded-url > input[type="text"] {
    width: 80%;
    line-height: 30px;
    margin: 0 20px 0 -1px;
    padding: 0 10px;
    border: 1px solid #ddd;
}
.embedded-url > label {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: block;
    float: left;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    width: 10%;
}

.feedback-template label {
    width: 100%;
}
.feedback-template input[type="text"], .feedback-template .tpl-text {
    width: 100%;
    line-height: 30px;
    border: 1px solid #ddd;
    padding : 0 10px;
}
.feedback-template {
    margin: 20px 0;
    border-top: 1px dashed #ccc;
    padding: 10px 0 0;
}
.feedback-template button[type="button"] {
    width: 100%;
    margin: 24px 0 0 0;
    line-height: 33px;
    background-color: #375167;
    border: none;
    color: #fff;
}
.feedback-template .or-txt {
    text-align: center;
    margin: 10px 0;
}
.snap-source .rt > div > span {
    display: block;
    float: left;
}
.snap-source-count {
    width: 50px;
    text-align: left;
}	
#sentimentalSourceChart {
    min-height: 337px;
}
.advocate-filter-bar {
    height: 35px;
}
