.margin-bottom-0 {
    margin-bottom: 0;
}
.setting-wrapper {
    padding: 15px;
}
.summary-content .activeprofile {
	padding-top: 15px;
}

.topice-listing, .user-listing, .keyword-listing, .competitors-listing {
    display: block;
    margin: 0 0 15px;
    overflow: hidden;
}
.topice-listing i, .user-listing i, .keyword-listing i, .competitors-listing i {
    background: #000;
    border-radius: 50%;
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 20px 0 0;
    text-align: center;
    width: 30px;
}
.topice-listing a, .user-listing a, .keyword-listing a, .competitors-listing a {
    line-height: 30px;
}
#setting input[type="text"], #setting input[type="password"] {
    border: 1px solid #ccc;
    line-height: 30px;
    padding: 0 10px;
    width: 100%;
}
#setting label {
    line-height: 30px;
    width: 100%;
}
#setting .modal-dialog {
    max-width: 450px;
}
#setting .btn {
    background: #22ADCA;
    border: none;
    color: #fff;
    text-shadow: 0 0 0 !important;
    border-radius: 4px;
    font-size: 1.2em;
    height: 38px;
    letter-spacing: 1px;
    font-weight: normal;
}
#setting .modal-dialog h4 {
    font-size: 16px;
    padding: 5px 0;
    font-weight: bold;
}
#setting .modal-body {
    padding-top: 30px;
}

.btn-con {
    border-top: 1px solid #eee;
    display: block;
    margin: 20px 0 0;
    padding: 15px 0 0;
    text-align: center;
}

.setting-wrapper-content hr {
	margin-bottom: 14px;
}
.summary-panel .table > thead > tr > th {
    border-bottom: 1px solid #ddd;
}
.last-row-border-0 > tbody > tr:last-child td{
	border-bottom: 0 none;
}
.summary-content table > tbody > tr > td,
.summary-content table > thead > tr > th{
	padding-left: 15px;
	padding-right: 15px;
}
.summary-content table th{
	background-color: #f1f5f8;
}
.summary-content table > tbody > tr > td:first-child {
	width: 40%;
}

.company-name input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background: #f1f1f1;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
}
.company-name input[type="checkbox"]:checked {
  background: #ff7e12;
  border: 1px solid #fff;
}
.company-name > div {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #000;
    font-weight: 700;
}

.company-name {
    position: relative;
}

.company-name input[type="checkbox"]:checked + div{
    color: #fff
}

.company-name input[type="checkbox"] + div + .tick {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    right: 15px;
    top: 14px;
    pointer-events: none;
    border: 2px solid #ccc;
}

.company-name input[type="checkbox"]:checked + div + .tick {
    background: rgba(255, 255, 255, .5);
}

.company-name input[type="checkbox"]:checked + div + .tick::before {
  height: 8px;
  width: 8px;
  position: absolute;
  content: '\f00c';
  color: #000;
  left: 0px;
  top: -12px;
  font-family: FontAwesome;
  font-size:30px;
}


