#cxSummary.block-cover {
    padding: 15px;
}
#cxSummary.block-cover {
    padding: 15px;
}
#cxSummary .tab-content {
    border: 1px solid #ddd;
    padding: 15px;
    border-top: none;
}
.bg-color {
    background: #f1f1f1;
    padding: 15px;
	margin-bottom:30px;
}
.bg-color h3 {
    text-align: center;
}
.total-mention, .overall-sentiment {
    text-align: center;
}
.total-mention h2 {
    font-family: pt sans;
    font-weight: 700;
}
.overall-sentiment > h3 {
    margin-bottom: 20px;
}
.overall-sentiment > div {
    display: table;
    float: left;
    line-height: 40px;
    padding: 0 0 0 50px;
}
.overall-sentiment .positive {
	background: url(../img/positive.png) no-repeat 0 0;
}
.overall-sentiment .negative {
	background: url(../img/negative.png) no-repeat 0 0;
	margin:0 15px;
}
.overall-sentiment .neutral {
	background: url(../img/neutral.png) no-repeat 0 0;
}
.overall-sentiment {
    display: table;
    margin: 25px auto 15px;
}
.top-sources .progress {
    background: #ffffff;
    border-radius: 0;
    box-shadow: none;
    height: 20px;
    margin-bottom: 10px;
	position:relative;
}
.top-sources .progress-bar {
    background: #00aced;
    box-shadow: none;
}
.top-sources .source-name {
    color: #000;
    font-size: 12px;
    left: 15px;
    line-height: 20px;
    position: absolute;
}
.top-sources .mention-per {
    color: #9c9c9c;
    font-size: 12px;
    right: 15px;
    line-height: 20px;
    position: absolute;
}
.top-sources > h3 {
    margin-bottom: 20px;
}
.top-sources {
    height: 203px;
}




