@import url(fonts.css);
:root {font-size: 16px; background: #d0cbd1;}
html, body, div, button, a, input, textarea, section, article, p, h1, h2, h3, h4, h5, h6, select, label, ol, ul, li
table, tr, td, th {
	font-family: 'PT Sans', arial, sans-serif;
	font-size: 0.875rem;
	color: #555;
}
* {	outline: none !important;}
a, a:hover{text-decoration: none;}

h3 {
    font-size: 	0.9375rem;
    font-weight: 500;
    text-transform: uppercase;
}

.top_nav {
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}
.logo-section {
    padding: 5px 15px;
    display: inline-block;
}

.logo > img {
    max-height: 60px;
}
.header-txt {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
}

.nbt-user {
    float: right;
}

.nbt-user > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nbt-user > ul > li{
    float:left;
    line-height: 70px;
    padding: 0 15px;
    position: relative;
}
.nbt-user ul li.sp2 a i {
    color: #fff !important;
    font-size: 1.375rem;
    padding: 21px 0;
}
.user {
    font-weight: 700;
    font-size: 1rem;
}
.logout_contain * {
	color: #fff;
	float: left;
	display: block;
}
.logout_contain .logout {
	color: #fff;
	font-size: 1.125rem;
	padding: 0px 10px;
}
.logout_contain i {
	color: #fff;
	font-size: 1.5rem;
	padding: 22px 0px 15px 10px;
}

.drpdn {
	position: absolute;
	display: none;
	top: calc(100% + 2px);
	right: 0px;
	width: 300px;
	background: #fff;
	z-index: 1001;
	border: 1px solid #ddd;
	padding: 8px;
}
.drpdn h3 {
	color: #333;
	margin: 5px 0 10px;
}
.notify-block {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	float: left;
	width: 100%;
	height: 204px;
}
.notify-arr {
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: -11px;
	right: 15px;
	border-left: 11px solid transparent;
	border-right: 11px solid transparent;
	border-bottom: 11px solid #ccc;
}
.notify-arr:after {
	content: " ";
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 2px;
	right: -9px;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	border-bottom: 9px solid #fff;
}
.exp-radio {
	padding: 5px 0px 5px 30px;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.export-as .exp-radio:first-child {
	border-top: 1px dashed #ddd;
}
.exp-radio:after {
	content: "";
	position: absolute;
	top: 14px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 1px solid #ddd;
	background: #fff;
	z-index: 1;
	border-radius: 50%;
}
.exp-radio:before {
	content: "";
	position: absolute;
	top: 18px;
	left: 4px;
	width: 8px;
	height: 8px;
	z-index: 2;
	border-radius: 50%;
}
.export-as .exp-radio .icon {
	display: block;
	float: left;
	width: 25px;
	line-height: 1;
}
.exp-radio img {
	margin-top: 6px;
}
.exp-radio p {
	display: block;
	float: left;
	height: 32px !important;
	line-height: 32px !important;
	margin: 0 20px;
	width: 100px;
}
.exp-radio a {
	float: right;
	padding: 6px 10px;
	height: 32px !important;
	line-height: normal !important;
	color: #fff !important;
	cursor: pointer;
}
.exp-radio a:hover {
	text-decoration: none;
}
.sub-nav-bar {
    position: fixed;
    width: 100%;
    top: 71px;
    z-index: 99;
    border-top: 1px solid #fff;
}
.latest-news {
    margin: 5px 0 5px 175px;
    width: 65%;
    float: left;
    border-radius: 4px;
    position: relative;
}
.latest-news > h3 {
    float: left;
    margin: 0;
    color: #fff;
    line-height: 30px;
    padding: 0 15px;
}
.view-all-latest-news {
    position: absolute;
    right: -1px;
    top: -1px;
    border: none;
    text-shadow: none;
    color: #fff;
    box-shadow: none;
    border-radius: 0 4px 4px 0;
}
.latest-news > ul {
    list-style: none;
    padding: 0 15px;
    margin: 0;
}

.latest-news > ul > li{
    line-height:30px;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.latestnews-time{
	font-weight: 700;
	margin:0 10px 0 0;
}

.time {
    float: right;
    width: 20%;
    text-align: right;
    margin: 0 15px 0 0;
    line-height: 45px;
}

.time-label {
    text-transform: uppercase;
    color: #fff;
    margin: 0 10px 0 0;
}

.current-time {
    color: #e2e2e2;
}
.side_bar {
    position: fixed;
    left: 0;
    top: 71px;
    z-index: 999991;
    width: 160px;
    height: 100%;
    border-top: 1px solid #fff;
}
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navigation li a {
    line-height: 35px;
    padding: 0 15px;
    display: block;
    text-decoration: none;
}
.navigation li a .fa {
    width: 20px;
    text-align: center;
    margin: 0 5px 0 0;
}
.footer-top {
    height: 75px;
}

.footer {
    /* bottom: 0;
    position: fixed;
    left: 0; */
    margin-left: -15px;
    padding-right: 100px;
    width: calc(100% + 30px);
    z-index: 999;
}
.version {
    color: #d5d5d5;
    font-size: 0.6875rem;
    line-height: 35px;
    text-align: center;
}
.footer .powered-by {
	background: url(../img/xpresso-logo.png) no-repeat 0 50%;
	color: #fff;
	display: table;
	float: right;
	font-size: 12px;
	height: 14px;
	line-height: 35px;
	margin: 10px 30px;
	padding: 0;
	text-align: right;
	width: 142px;
}

.main-body {
    position: relative;
    top: 115px;
    margin: 0 0 0 160px;
    padding: 0 15px;
    background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 50%, #d0cbd1 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#e6e6e6 50%,#d0cbd1 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#e6e6e6 50%,#d0cbd1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d0cbd1',GradientType=0 );
}

.block-head, .block-head-black {
    padding: 0 15px;
}
.block-head i,  .block-head-black i {
    color: #fff;
    float: left;
    line-height: 40px;
    font-size: 1.25rem;
    margin-right: 10px;
}
.block-name {
    line-height: 40px;
    float: left;
    margin: 0;
    color: #fff;
    font-size: 1rem;
}
.bar-filter label {
    color: #fff;
    line-height: 40px;
    margin: 0 10px 0 0;
}
.bar-filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 120px;
    display: block;
    float: right;
    margin: 5px 0;
}

.bar-filter .btn-default {
    background: #fff !important;
    padding: 4px 25px 4px 5px;
    display: block;
}

.bar-filter .dropdown-toggle .caret {
    right: 5px !important;
}
.block-body{padding:0 15px; margin:0 0 15px;}
.graph-title {
    text-align: center;
    margin: 0;
    font-size: 0.875rem;
    font-weight: 700;
}

.graph-defn {
    background-color: #ededed;
    padding: 5px 15px;
    color: #626262;
    font-size: 0.75rem;
    margin: 5px 0 0;
}

.inner-filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 19% !important;
    display: block;
    float: left;
    margin: 0 4px 0 0;
}

.inner-filter .btn-default {
    background: #fff !important;
    padding: 7px 25px 7px 5px;
    display: block;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 0.8125rem;
}

.inner-filter .dropdown-toggle .caret {
    right: 5px !important;
}
.context-filter {
    background: #fff;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 7px 7px 7px 5px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    width: 19%;
    float: left;
    margin: 0 5px 0 0;
}
.context-filter > div{
	font-size: 0.8125rem;
}

.contexts-listing {
   position: absolute;
   background: #fff;
   z-index: 9;
   left: 0;
   padding: 10px;
   border: 1px solid rgba(0, 0, 0, 0.15);
   top: 35px;
   border-radius: 5px;
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
   width: 170px;
   cursor: pointer;
}

.context-filter .validation-message {
    text-transform: none;
    font-size: 11px;
    margin: 9px 0 0 -14px;
}
.inner-filter .dropdown {
    width: 32%;
    float: left;
    margin-right: 4px;
}
.form-control[readonly] {
    background-color: #fff;
    border-color: rgb(204,204,204);
}
.inner-filter .go-btn {
    border: none;
}
.go-btn {
    padding: 6px 12px 7px;
    color: #fff !important;
}
.nbt-table {
    border-collapse: separate;
}
.nbt-table thead tr {
    background: #000 !important;
    border: 1px solid #000;
}
.nbt-table > tbody > tr:nth-child(even) > td {
	background-color: #f9f9f9;
}
.nbt-table > tbody > tr:nth-child(odd) > td {
	background-color: #fff;
}
#tblVirality .sen-box .btn, #tblsocList1 .sen-box .btn,  .sen-box .btn {
	cursor: default;
	display: inline-block;
	height: 13px;	/* margin-left: -4px; */
	float: left;
	border: 0 none;
	padding: 0;
}
#tblsocList1 td:nth-child(1) {
	width: 17%;
}
#tblsocList2 td, #tblsocList2 th {
	padding: 8px 10px;
}
#tblsocList1 td:nth-child(6) {
	width: 13%;
}
#tblsocList1 td:nth-child(2) {
	width: 12%;
}
#tblsocList1 td:nth-child(5), #tblsocList1 th:nth-child(5) {
	padding: 8px 0 8px 45px;
	width: 25%;
}
#tblsocList1 td:nth-child(4), #tblsocList1 th:nth-child(4) {
	text-align: right;
	width: 10%;
}
#tblsocList1 td:nth-child(3), #tblsocList1 th:nth-child(3) {
	text-align: right;
	width: 10%;
}
#tblsocList1 td:nth-child(7) {
	width: 13%;
}
.sen-box {
	white-space: nowrap;
	overflow: hidden;
	border-radius: 3px;
	margin-right: 15px;
}

.filter-bar {
    padding: 7px 15px 0px;
}
.margin-lt-rt-0 {
    margin-left: 0;
    margin-right: 0;
}
.bx-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.bx-wrapper .bx-viewport {
    left: 0;
}
.dashboard-carousel {
    width: 100%;
    height: 162px;
    overflow: hidden;
}
.slide {
    width: 395px;
    float: left;
    list-style: none;
    margin-right: 10px;
}
#dailySnapshot .snap-block {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: 10px 1px;
    padding: 10px 15px;
    position: relative;
}
.count_top {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.snap-icon {
    width: 15px;
    height: 20px;
    line-height: 20px;
}
.snap-source {
    overflow: hidden;
    width: 100%;
    font-size: 12px;
}
.snap-source .lt {
    float: left;
    width: 40%;
}
.snap-source .rt {
    float: left;
    text-align: right;
    width: 60%;
    margin-bottom: 2px;
}
.snap-source .rt > div {
    display: table;
    float: right;
}
.snap-source .rt > div > span {
    display: block;
    float: left;
}
.snap-source .rt > div > span {
    display: block;
    float: left;
}
.snap-source .rt .fa {
    font-size: 14px;
}
.tile_stats_count-tp {
    border-left: 1px solid #ccc;
    margin-left: -15px;
}
.tile_stats_count-tp > div {
    padding: 0 0 0 15px;
    margin-bottom: 0;
}
.caret-abz {
    width: 20px;
    padding: 0 5px;
}
.snap-source-name {
    font-size: 12px;
    font-weight: 700;
}
.snap-context .count_top {
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    margin-right: 6px;
    color: #798693;
}
.dash-context-text {
    clear: both;
    float: none;
    line-height: 12px !important;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.count-com {
    margin: 0;
}
.snap-context span {
    font-size: 12px;
    font-weight: 700;
}
.tile_count {
    margin-top: 10px;
}
.tile_count .tile_stats_count {
    border: none;
}
.tile_count .tile_stats_count:last-child {
    border-right: none;
}
.snap-context {
    margin-bottom: 0;
    padding: 5px 0;
}
.filter-block {
    display: table;
    position: relative;
}
ul.filters {
    background: url(../img/snapshot-icon.png) no-repeat 0 50%;
    display: block;
    overflow: hidden;
    padding: 0 0 0 50px;
}
.filters > li {
	display: block;
	float: left;
	padding-right: 24px;
}
.filters > li:after {
	content: "|";
	padding-left: 24px;
	color: #bbb;
	line-height: 24px;
}
.filters > li:last-child {
	padding-right: 0;
}
.filters > li:last-child:after {
	content: "" !important;
	padding-left: 0;
}
.filters > li a {
	color: inherit;
	color: #bbb;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
}
.filters > li a.active {
	color: #fff;
	cursor: default;
}
.filter-bar .btn {
	padding: 2px 25px 2px 12px;
}
.tile_count.border-top {
    border-top: 1px solid #ddd;
}
#accordion > .panel-default > .panel-heading {
	background-image: none;
	color: #fff;
}
.kpi-head {
    position: relative;
}
.kpi-head div {
    font-size: 	1rem;
    color: #fff !important;
}
.kpi-bar {
	font-size: 13px;
	margin: 0 30px 0 50px;
	color: #fff !important;
}
.kpi-bar > div > div {
	text-align: center;
}
.kpi-head .action-arrow {
	position: absolute;
	right: 0;
	top: -5px;
}
.kpi-head .social-icon {
	left: 0;
	position: absolute;
	top: -5px;
}

.pointer {
    cursor: pointer;
}

.draw-chart {
    height: 200px !important;
}

.facebook-listing {
    padding: 0 15px;
}

.facebook-listing .expression {
	border-top: 1px solid #ddd;
	overflow: hidden;
	padding: 10px 0;
}
.facebook-listing .expression > div {
	display: table;
	float: left;
	height: 20px;
	line-height: 20px;
	margin-right: 20px;
	padding: 0 0 0 23px;
}
.facebook-listing .expression > div.retweet {
	background: url(../img/retweet.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.like {
	background: url(../img/like.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.love {
	background: url(../img/love.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.laugh {
	background: url(../img/haha.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.wow {
	background: url(../img/wow.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.sad {
	background: url(../img/sad.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.angry {
	background: url(../img/angry.png) no-repeat 0 50%;
}
.facebook-listing .expression > div.comment {
	background: url(../img/comment.png) no-repeat 0 50%;
	float: right;
	margin-right: 0;
}
.facebook-listing .expression > div.seen {
	background: url(../img/seen.png) no-repeat 0 50%;
	float: right;
}
.facebook-listing .post {
	border: 1px solid #ddd;
	padding: 10px 15px;
}
.facebook-listing .post + .post {
	margin-top: -1px;
}
.facebook-listing .post .post-txt {
	margin-bottom: 10px;
}
#twitter_analyze-chart1, #twitter_analyze-chart2, #twitter_analyze-chart3, #twitter_analyze-chart4, #twitter_analyze-chart5, #twitter_analyze-chart6, #fb_analyze-chart1, #fb_analyze-chart2, #fb_analyze-chart3, #fb_analyze-chart4, #fb_analyze-chart5, #fb_analyze-chart6 {
    min-height: 200px;
}
.analyze-calender {
    height: 203px !important;
}

.facebook-listing h3 {
    margin: 0 0 10px;
    font-weight: 700;
}

.context-filter-wapper.inner-filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
.context-filter-wapper.inner-filter .context-filter,
.context-filter-wapper.inner-filter .dropdown {
    width: 17% !important;
}

.context-filter-wapper.inner-filter .go-btn {
    margin: 0;
    padding: 6px 12px 7px;
}

.context-filter-wapper.inner-filter .fa-filter {
    font-size: 1.5rem;
    display: block;
    margin: 0 20px 0 0;
}

.context-filter-wapper.inner-filter.inner-filter .btn-default, .context-filter-wapper.inner-filter .context-filter {
    padding: 7px 25px 6px 5px;
}
.validation-message {
    color: #a94442;
    font-size: 0.8em;
}
.context-filter .validation-message {
    text-transform: none;
    font-size: 11px;
    margin: 9px 0 0 0;
}

.nbt-table thead tr th, .nbt-table thead tr td {
    color: #fff;
    font-weight: 700;
    position: relative;
}
.td-align-center {
    text-align: center !important;
}

#tblVirality .fa, #tblsocList .fa, #tblSourceDateSentimentAnalysis .fa{
    font-size: 18px;
    margin: 0 5px 0 0;
}
.nbt-tab {
	width: 100%;
	margin-top: 20px;
}
.nbt-tab-ul {
	font-weight: 700;
	text-transform: uppercase;
}
.nbt-tab-ul li.active {
	margin-bottom: 0px !important;
}
.nbt-tab-ul li a {
	padding: 10px 30px 10px 15px !important;
	position: relative;
	overflow: hidden;
	border-bottom: 0px solid transparent !important;
}
.nbt-tab-ul li:first-child {
	margin-left: 0px;
}
.nbt-tab-ul li.active a {
	border-bottom: 0px solid transparent !important;
	background: #eee;
	position: relative;
}
.nbt-tab-ul li.active a:after, .nbt-tab-ul li.active a::after {
	content: " ";
	position: absolute;
	display: block;
	width: 10px;
	top: 0px;
	right: 0px;
	height: 100%;
	border-radius: 0px 3px 0px 0px;
}
.nbt-content {
	margin-bottom: 30px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.tab-content.nbt-content.row {
	margin-left: 0;
	margin-right: 0;
}
.nbt-content > div {
	padding: 20px 15px 0;
	box-sizing: content-box;
}
.nbt-tab li a {
    cursor: pointer;
}
.word-cloud-title {
    color: #fff;
    font-weight: bold;
    line-height: 39px;
    position: relative;
}
.border {
    border: 1px #eee solid;
}

.pagination > li.pagination-action > a {
	color: #fff !important;
	cursor: pointer;
}

.pagination > li.pagination-action.border-grey-left > a {
	border-left-color: #d4d4d4;
}
.pagination > li.pagination-action.border-grey-right > a {
	border-right: 2px solid #d4d4d4;
}

.bar-filter .go-btn {
    margin-top: 4px;
    padding: 5px 12px;
}

.deep-list-wapper {
    padding: 0;
    border: none !important;
}

#sentimentalSourceChart{
	height: 357px;
}

#topAdvocatesBarChart, #chart1, #chart2, #contextWiseChart, #contextWisePercentChart{
	height: 400px;
}

#newsModal .modal-title, #tkt-create-modal .modal-title, 
#snippetModalForAnalytics .modal-title,
#snippetModalForReviewAnalysis .modal-title,
#snapshotModal .modal-title,
#ticketInfoModal .modal-title,
#ticketDetailsModal .modal-title{
	font-size: 1.125rem;
	font-weight: 700;
}

#newsModal .modal-body > p {
    display: block;
    background: #fdfdfd;
    padding: 5px 15px;
    margin-bottom: 5px;
    border: 1px solid #f1f1f1;
    font-size: 12px;
}

.view-all-latest-news:hover, .view-all-latest-news:focus, .view-all-latest-news:active{
	background: #2C4152;
	color: #fff;
}
#newsModal .modal-body > p a {
    display: block;
    font-weight: bold;
}

.modal-header .close {
    font-size: 2rem !important;
    opacity: 1;
    line-height: .5;
}

/*============= Custom Loader ===============*/
#spinner {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, .5); 
	z-index: 99999;
}

#generatePDFspinner {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, .5); 
	z-index: 99999;
}

.loader,
.loader:before,
.loader:after {
  background: #01b6c5;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
    color: #01b6c5;
    text-indent: -9999em;
    margin: auto;
    position: absolute;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
/*===========================================*/

#tblsocList td:nth-child(1){width: 35px;}
#tblsocList td:nth-child(2){width:100px}
#tblsocList td:nth-child(3){width:350px}
#tblsocList td:nth-child(4){width:150px}
#tblsocList td:nth-child(5){width:300px}
#tblsocList td:nth-child(6){width:60px}
/* #tblsocList td:nth-child(7){width:65px; text-align: center;}  */

/* #tblsocList td:nth-child(1){width:95px}
#tblsocList td:nth-child(2){width:100px}
#tblsocList td:nth-child(3){width:150px}
#tblsocList td:nth-child(5){width:140px}
#tblsocList td:nth-child(6){width:250px}
#tblsocList td:nth-child(7){width:65px; text-align: center;} */

#tblsocList2 th, #tblsocList2 td{ text-align: left;}
#tblsocList2 th:nth-child(1), #tblsocList2 td:nth-child(1){width:75px; }
#tblsocList2 th:nth-child(2), #tblsocList2 td:nth-child(2){width:160px;}
#tblsocList2 th:nth-child(3), #tblsocList2 td:nth-child(3){width:90px;}
#tblsocList2 th:nth-child(4), #tblsocList2 td:nth-child(4){width:340px;}
#tblsocList2 th:nth-child(6), #tblsocList2 td:nth-child(6){width:80px;}

#tblsocList2 td:nth-child(3), #tblsocList2 td:nth-child(4), #tblsocList2 td:nth-child(5) {font-size: 13px;}
.dropdownList {
	background: #fcfcfc;
	color: #000;
	font-weight: 300;
	/* left: 9px; */
	min-width: 200px;
	position: absolute;
	/* top: 30px; */
	width: auto;
	z-index: 1;
	box-shadow: 0px 2px 4px 1px #ddd;
}
.selectEntity {
	font-size: 14px !important;
	margin: 0 !important;
	float: none;
	color: #fff;
}
.dropdownList > ul {
	max-height: 300px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0;
	padding:0;
}
.dropdownList li {
	border: 1px solid #ddd;
	padding: 5px 10px;
	list-style: none;
}
.dropdownList li + li {
	margin-top: -1px;
}

#tblsocList1 .fa-facebook-official, .facebook, #tblDashboard .fa-facebook-official, #tableWordCloud .fa-facebook-official {
    color: #4867AA;
}
#tblsocList1 .fa-twitter, .twitter, #tblDashboard .fa-twitter, #tableWordCloud .fa-twitter {
    color: #00ACED;
}
#tblsocList1 .fa-rss, .rss, #tableWordCloud .fa-rss {
    color: #ff6600;
}
#tblsocList .fa-facebook-official, .facebook {
    color: #4867AA;
}
#tblsocList .fa-twitter, .twitter {
    color: #00ACED;
}
#tblsocList .fa-rss, .rss {
    color: #ff6600;
}
#tblVirality .fa-facebook-official, .facebook {
    color: #4867AA;
}
#tblVirality .fa-twitter, .twitter {
    color: #00ACED;
}
#tblVirality .fa-rss, .rss {
    color: #ff6600;
}
.fa-email:before {
  content: "\f0e0";
}
.fa-fb:before {
  content: "\f230";
  color: #4867aa;
}

.fa-ccir:before {
  content: "\f09e";
  color: #ff6600;
}
/* .fa-ges{
	content: '\f09e';
	color: #ff6600;
} */

.fa-tw:before {
  content: "\f099";
  color: #00ACED;
}

.fa-ccri:before {
  content: "\f09e";
  color: #ff6600;
}
.fa-ges:before {
  content: "\f09e";
  color: #ff6600;
}
.snap-icon {
    width: 15px;
    height: 20px;
    line-height: 20px;
}

.snap-icon.fa-facebook:before{
    color: #4867aa;
}
.snap-icon.fa-twitter:before{
    color: #00ACED;
}
.snap-icon.fa-envelope:before{
}
.snap-icon.fa-rss:before{
    color: #ff6600;
}

.embedded-url > input[type="text"] {
    width: 80%;
    line-height: 30px;
    margin: 0 20px 0 -1px;
    padding: 0 10px;
    border: 1px solid #ddd;
}
.embedded-url > label {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    display: block;
    float: left;
    line-height: 30px;
    padding: 0 10px;
    text-align: center;
    width: 10%;
}
.feedback-template label {
    width: 100%;
}
.feedback-template input[type="text"], .feedback-template .tpl-text {
    width: 100%;
    line-height: 30px;
    border: 1px solid #ddd;
    padding : 0 10px;
}
.feedback-template {
    margin: 20px 0;
    border-top: 1px dashed #ccc;
    padding: 10px 0 0;
}
.feedback-template button[type="button"]
{
    width: 100%;
    margin: 24px 0 0 0;
    line-height: 33px;
    border: none;
    color: #fff;
}
.feedback-template .or-txt {
    text-align: center;
    margin: 10px 0;
}
#tkt-create-modal .btn, #tkt-mng-modal .btn,
#ticketInfoModal .btn {
    border: none;
    color: #fff;
    text-shadow: none;
}
#tkt-create-modal .modal-footer, #tkt-mng-modal .modal-footer {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.feedback-send-btn {
    border: none;
    color: #fff;
    text-shadow: none;
    margin: 10px 0 0;
    padding: 5px 15px;
}
.page-title {
    border-bottom: 1px solid;
    margin: 0 0 15px;
}
.page-title h2 {
    text-transform: capitalize;
    font-size: 1.25rem;
}

.grey-bg {
    background-color: #f7f7f7;
    padding: 0 15px;
    margin: 15px 0;
    border: 1px solid #dbdbdb;
}
.rating-table, .brand-table {
	width: 100%;
}

.rating-table td:nth-child(2) {
	width: 50px;
}

.rating-table td:nth-child(3) {
	width: 120px;
}
.rating-count {
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
}

.rating-star {
    text-align: right;
    font-size: 1rem;
}
.rating-table tr, .brand-table tr {
    border-top: 1px solid #dbdbdb;
}

/*.rating-table tr:first-child, .brand-table tr:first-child {
    border: none;
}*/
.rating-table td, .brand-table td{
	padding:10px 0;
}
.source-logo {
    float: left;
    width: 30px;
    height: 30px;
    margin-right: 15px;
}
.sl-zomato{
	background:url(../img/zomato-logo-30.jpg);
}
.sl-Zomato{
	background:url(../img/zomato-logo-30.jpg);
}
.sl-swiggy{
	background:url(../img/swiggy-logo-30.jpg);
}
.sl-Swiggy{
	background:url(../img/swiggy-logo-30.jpg);
}
.sl-magicpin{
	background:url(../img/magicpin-logo-30.jpg);
}
.sl-foodpanda{
	background:url(../img/foodpanda-logo-30.jpg);
}
.sl-Food{
	background:url(../img/foodpanda-logo-30.jpg);
}

.cc-mcdonald{
	background:url(../img/mcdonald-logo-30.jpg);
}
.cc-kfc{
	background:url(../img/kfc-logo-30.jpg);
}
.cc-domino{
	background:url(../img/domino-logo-30.jpg);
}
.cc-burgerking{
	background:url(../img/burgerking-logo-30.jpg);
}

.store-name {
    float: left;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 15px;
}

.store-address {
    float: left;
    line-height: 30px;
}

.store-address:before{
    content:'('
}
.store-address:after{
    content:')'
}

#rating .nav-tabs {
    font-weight: 700;
    text-transform: uppercase;
}

#rating .nav-tabs li a {
    padding: 10px 30px 10px 15px !important;
}

#rating .nav-tabs > li.active > a {
    background-color: #fff;
}

#rating .nav-tabs > li.active > a:after, #rating .nav-tabs > li.active > a::after {
	content: " ";
	position: absolute;
	display: block;
	width: 10px;
	top: 0px;
	right: 0px;
	height: 100%;
	border-radius: 0px 3px 0px 0px;
}

#rating .tab-content {
    padding: 15px 15px 0;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #fff;
}

#rating .nav-tabs > li a:hover{
	background-color: #fff;
}

#rating .pagination {
    margin: 0 0 10px;
}

.page-filter label {
    line-height: 40px;
    margin: 0 10px 0 0;
}
.page-filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 120px;
    display: block;
    float: right;
    margin: 5px 0;
}

.page-filter .btn-default {
    background: #fff !important;
    padding: 4px 25px 4px 5px;
    display: block;
    box-shadow: none;
}

.page-filter .dropdown-toggle .caret {
    right: 5px !important;
}

.page-filter {
    margin-top: 13px;
}

#summaryMetrics .brand-table td{
	width: 50%;
}

.metrics-icon {
    width: 30px;
    height: 30px;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 1.875rem;
    line-height: 30px;
    float: left;
    margin: 0 15px 0 0;
}

.metrics-content {
    float: left;
}

.metrics-title {
    margin: 0;
    line-height: 30px;
    font-size: 1rem;
    font-weight: 700;
}

.metrics-count {
    font-size: 0.875rem;
    font-weight: 500;
    margin: 0 0 0 5px;
}
.metrics-count:before{
    content:'('
}
.metrics-count:after{
    content:')'
}

.metrics-desp:before{
    content:'('
}
.metrics-desp:after{
    content:')'
}

.metrics-bar-data {
    width: 100%;
    height: 30px;
    background-color: #dfdfdf;
    border-radius: 4px;
    overflow: hidden;
}

.metrics-bar-data .bar-lt{
    height:30px;
    float: left;
    border-radius: 4px 0 0 4px;
}
.metrics-bar-data .bar-rt{
    height:30px;
    float: left;
    border-radius: 0 4px 4px 0;
}
.metrics-bar-data .bar{
    height:30px;
    float: left;
}
.graph-con {
    margin-top: 2px;
}

#brandTimelineGraph{
	height: 400px;
}
#competitiveComparison td{
	width: 25%;
}
.table-head {
    margin: 0 -15px;
    overflow: auto;
    padding: 0 15px;
}

#competitiveComparison .table-head > div {
    color: #fff;
    float: left;
    width: 25%;
    padding: 10px 0;
}

#StoresList .table-head > div,
#ticketInfo .table-head > div,
#ticketDetailsModal .table-head > div  {
    color: #fff;
    float: left;
    width: 15%;
    padding: 10px 0;
}

#StoresList .table-head > div:first-child{
	width: 40%;
}

#StoresList .rating-table td{
	width: 15%;
}
#StoresList .rating-table td:first-child{
	width: 40%;
}
.user-post-list {
    padding: 15px;
    border: 1px solid #ddd;
    background: #fdfdfb;
    margin-right: 15px;
}
.user-post-list + .user-post-list {
	margin-top: 15px;
}

.post-wapper {
    overflow: auto;
}

.post-user-image {
    width: 50px;
    float: left;
    margin-right: 15px;
}

.post-user-image img {
    width: 100%;
}

.post-desp-wapper {
    float: left;
    width: calc(100% - 65px);
}

.post-desp {
    overflow: auto;
    margin-bottom: 5px;
}

.post-desp > div {
   width: 50%;
   float: left;
}

.user-name {
    font-size: 1rem;
    font-weight: 700;
}
.post-content img {
    max-height: 200px;
    max-width: 100%;
}

.post-time {
    font-weight: 700;
}

.post-time .fa {
    color: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    margin-left: 10px;
}

.post-time .fa-facebook{
    background-color: #375267;
}

.post-time .fa-twitter{
    background-color: #00aeef;
}

.review-wapper {
    border-top: 1px solid #ddd;
    padding: 10px 0 0;
}
.review-wapper > div {display: inline-block;text-align: center;margin-right: 30px;}

.review-count {
    font-weight: 700;
}

.post-list + .post-list {
    margin-top: 50px;
}

/* #kpiMentions {
	width: 300px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
} */

.dld-store {
    line-height: 40px;
    color: #fff;
}

.pie-title-center {
  display: block;
  position: relative;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pie-txt {
  display: block;
  position: absolute;
  font-size: 14px;
  height: 40px;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -30px;
}

.pie-txt > span {
    display: block;
}

.pie-txt > span.value {
    font-size: 24px;
}

#KPICampaignOverview .grey-bg > .row {
	margin-bottom: 10px;
}
#KPICampaignOverview .grey-bg > .row:first-child {
	margin-top: 10px;
}

.user-search input {
    padding: 4px 5px;
    margin: 5px 0 0 0;
}

.user-search {
    position: relative;
    margin-left: 30px;
}

.user-search .fa{
    position:absolute;
    right: 0;
    background: #43413b;
    top: 5px;
    font-size: 1rem;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
}

.read-more{
	font-weight:bold;
	text-decoration: none !important;
}

.Weekly-snapshot-wapper, .Monthly-snapshot-wapper{
	visibility: hidden;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 0;
	z-index: 9999;
}
.Daily-snapshot-wapper{
	visibility: visible;
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 165px;
	z-index: 99999;
}

.red{
	color:red !important;
}
.green{
	color:green !important;
}

.fa-comments{
	color:#ff915d;
}

.bx-wrapper .bx-prev {
    left: -32px;
}

.bx-wrapper .bx-next {
    right: -32px;
}
.bar-border-radius4{
	border-radius: 4px;
}
.inner-filter label {
    line-height: 32px;
    margin-bottom: 0;
}
.abz-world-cloud{
	margin-right: auto;
	margin-left: auto;
	display: table;
	margin-top: 15px;
	height: 450px;
}
.word-no-found{
	padding-top:43%;
	font-weight:bold;
}
.crawling-date {
    float: right;
    margin: 23px 0 0;
}
.rating-count.green{background: #679f02; color: #fff !important;}
.rating-count.orange{background: #ff7e12; color: #fff !important;}
.inner-filter .fa-filter {
    font-size: 1.5rem;
    line-height: 30px;
}
#Social .table > tbody > tr > td, #contextDetailsDiv .table > tbody > tr > td,
#reviewAnalysisWapper .table > tbody > tr > td{
	border-bottom: 1px solid #ddd;
	border-top: none;
}
#Social .pagination, #contextDetailsDiv .pagination {margin-top: 0;}
.senti-box .table {
    margin-bottom: 0;
}

.campaign-info-wapper > div + div {
    border-top: 1px solid #ddd;
}

.campaign-info-label {
    padding: 10px 0;
    font-weight: 700;
}

.campaign-info-det {
    padding: 10px 0;
}

.select-campaign label {
    margin-bottom: 0;
    line-height: 30px;
}

.select-campaign .btn-default {
    background: #fff;
    padding: 4px 25px 4px 5px;
    box-shadow: none;
}

.modal {
    z-index: 999999;
}
.inner-filter .dropdown.custom-datepicker {
    width: 19%;
}
.inner-filter-col {
    display: block;
    float: left;
    width: 17%;
    margin-right: 5px;
}
.inner-filter .inner-filter-col .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100% !important;
}

.inner-filter .inner-filter-col .context-filter{
	width: 100% !important;
}
.daterangepicker:before, .daterangepicker:after {
	border: none !important;
	display: none !important;
}

.periodic-comp-source-list{
	list-style: none; margin: 0 0 0 -15px; padding: 0px;background: #f3f1f1;height: 258px;border-right: 1px solid #ccc;
}

.periodic-comp-source-list li{
	padding: 0 15px;
	line-height: 38px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.periodic-comp-source-list li .active-arrow{
	width:0; 
	height:0; 
	border-top: 19px solid transparent; 
	border-bottom: 19px solid transparent; 
	position: absolute; 
	right: -15px; 
	top: 0;
}

.periodic-comp-filter{
	border-bottom: 1px solid #ccc; padding-bottom: 15px;
}
.pc-filter-label{line-height: 32px;}
.periodic-comp-filter .custom-datepicker{width: 210px !important;}
.periodic-comp-box .snap-block{
	box-shadow: none !important;
	border: 1px solid #ddd !important;
}

.feedback-rep-wapper {
    background: #f3f1f1;
    padding: 10px 5px;
    margin-top: 10px;
}
.feed-title, .feed-icon {
    width: 100%;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}
.feed-icon {
    font-size: 42px;
}
.feed-desp {
    font-size: 12px;
    text-align: center;

}
.snap-block legend {
    position: absolute;
    top: -10px;
    width: auto;
    border: none;
    font-size: 12px;
    background: #fff;
    padding: 0 5px;
    left: 10px;
    font-weight: 700;
}

#reviewAnalysis .context-filter-wapper.inner-filter .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn),
#reviewAnalysis .context-filter-wapper.inner-filter .context-filter,
#reviewAnalysis .context-filter-wapper.inner-filter .dropdown {
    width: 12.5% !important; /* width changed from 14.5%  by somosree on 20-12-18 to fit in extra filter*/
}


#revAnalysisList td:nth-child(2){width:130px}
#revAnalysisList td:nth-child(3){width:150px}
#revAnalysisList td:nth-child(4){width:75px}
#revAnalysisList td:nth-child(5){width:285px}
#revAnalysisList td:nth-child(6){width:110px; text-align: center;}

#reviewAnalysisWapper .fa {
    font-size: 18px;
    margin: 0 2px 0 0;
}

.review-date {
    display: block;
    font-size: 12px;
    color: #aaa;
}

.margin-0{margin: 0;}

.highlight-txt {
    color: #fff;
    padding: 0 5px;
}

.bg-Positive {	/* color: #7ba75c; */
	background-color: #8DC153;
}
.bg-Negative {
	background-color: #f55348;/* color: #f76f66; */
}
.bg-Neutral {
	background-color: #F6BC41;
}

/*snippet modal css*/
.snippet-modal-tbl table {
    width: 100%;
}

.snippet-modal-tbl table td, .snippet-modal-tbl table th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px 10px;
}

.snippet-modal-tbl table tr:nth-child(odd) > td {
	background-color: #f9f9f9;
}

.snippet-modal-tbl table th {
    background: #60d0c9;
    color: #fff;
}

.modal-link-btn {
    color: #46a8a2;
}

.modal-link-btn {
    display: block;
    font-size: 13px;
    font-weight: bold;
}

.senti-dropdown {
    float: left;
}

.senti-dropdown button {
    background: none !important;
    border: none !important;
    color: #555 !important;
    padding: 0;
    box-shadow: none !important;
    vertical-align: unset;
}

.senti-dropdown .caret {
    border-width: 5px;
}
.senti-txt {
    width: 75px;
}

.tp-snapshot-cal-lbl {
    font-size: 11px;
    line-height: 14px !important;
    color: #a94442;
}

.tooltipforupdatedSentiment {
    position: relative;
    display: inline-block;
    margin: 0 0 0 15px;
    cursor: pointer;
}

.tooltipforupdatedSentiment .tooltiptextforupdatedSentiment {
    width: 250px;
    background-color: #555;
    color: #fff;
    font-size: 13px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    display: none;
    bottom: 25px;
    left: -118px;
}

.tooltipforupdatedSentiment .tooltiptextforupdatedSentiment::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltipforupdatedSentiment:hover .tooltiptextforupdatedSentiment {
    display: block;
}
.swal-text:first-child {
    margin-top: 20px;
}
.swal-footer {
    margin: 0;
}

.swal-text {
    font-size: 14px;
    padding: 0;
}

.swal-button {
    padding: 0 15px;
    line-height: 33px;
    min-width: 75px;
    border-radius: 0;
    font-weight: normal;
}

.swal-button:focus {
    box-shadow: none;
}
/* .swal-icon {
    width: 40px;
    height: 40px;
}
.swal-icon--error__line {
    width: 30px;
    top: 18px;
}
.swal-icon--error__line--left {
    left: 6px;
}
.swal-icon--error__line--right {
    right: 5px;
} */

.snap-source .rt a {
    background: #e2e2e2;
    padding: 0 10px;
    border-radius: 10px;
}

.snap-source .rt a:hover {
    background: #ccc;
}
.review-tooltip-tbl table {
    width: 100%;
}

.review-tooltip-tbl table td, .review-tooltip-tbl table th {
    border: 1px solid #ccc;
    text-align: left;
    padding: 5px 10px;
}
.review-tooltip-tbl table tr:nth-child(odd) > td {
	background-color: #f9f9f9;
}



.mt-0{margin-top:0px !important;}
.mt-1{margin-top:5px !important;}
.mt-2{margin-top:10px !important;}
.mt-3{margin-top:15px !important;}
.mt-4{margin-top:20px !important;}
.mt-5{margin-top:25px !important;}
.mt-6{margin-top:30px !important;}
.mt-7{margin-top:35px !important;}
.mt-8{margin-top:40px !important;}
.mt-9{margin-top:45px !important;}
.mt-10{margin-top:50px !important;}

.mb-0{margin-bottom:0px !important;}
.mb-1{margin-bottom:5px !important;}
.mb-2{margin-bottom:10px !important;}
.mb-3{margin-bottom:15px !important;}
.mb-4{margin-bottom:20px !important;}
.mb-5{margin-bottom:25px !important;}
.mb-6{margin-bottom:30px !important;}
.mb-7{margin-bottom:35px !important;}
.mb-8{margin-bottom:40px !important;}
.mb-9{margin-bottom:45px !important;}
.mb-10{margin-bottom:50px !important;}

.ml-0{margin-left:0px !important;}
.ml-1{margin-left:5px !important;}
.ml-2{margin-left:10px !important;}
.ml-3{margin-left:15px !important;}
.ml-4{margin-left:20px !important;}
.ml-5{margin-left:25px !important;}
.ml-6{margin-left:30px !important;}
.ml-7{margin-left:35px !important;}
.ml-8{margin-left:40px !important;}
.ml-9{margin-left:45px !important;}
.ml-10{margin-left:50px !important;}

.mr-0{margin-right:0px !important;}
.mr-1{margin-right:5px !important;}
.mr-2{margin-right:10px !important;}
.mr-3{margin-right:15px !important;}
.mr-4{margin-right:20px !important;}
.mr-5{margin-right:25px !important;}
.mr-6{margin-right:30px !important;}
.mr-7{margin-right:35px !important;}
.mr-8{margin-right:40px !important;}
.mr-9{margin-right:45px !important;}
.mr-10{margin-right:50px !important;}

.padding-0{padding: 0;}

.pt-0{padding-top:0px !important;}
.pt-1{padding-top:5px !important;}
.pt-2{padding-top:10px !important;}
.pt-3{padding-top:15px !important;}
.pt-4{padding-top:20px !important;}
.pt-5{padding-top:25px !important;}
.pt-6{padding-top:30px !important;}
.pt-7{padding-top:35px !important;}
.pt-8{padding-top:40px !important;}
.pt-9{padding-top:45px !important;}
.pt-10{padding-top:50px !important;}

.pb-0{padding-bottom:0px !important;}
.pb-1{padding-bottom:5px !important;}
.pb-2{padding-bottom:10px !important;}
.pb-3{padding-bottom:15px !important;}
.pb-4{padding-bottom:20px !important;}
.pb-5{padding-bottom:25px !important;}
.pb-6{padding-bottom:30px !important;}
.pb-7{padding-bottom:35px !important;}
.pb-8{padding-bottom:40px !important;}
.pb-9{padding-bottom:45px !important;}
.pb-10{padding-bottom:50px !important;}

.pl-0{padding-left:0 !important;}
.pl-1{padding-left:5px !important;}
.pl-2{padding-left:10px !important;}
.pl-3{padding-left:15px !important;}
.pl-4{padding-left:20px !important;}
.pl-5{padding-left:25px !important;}
.pl-6{padding-left:30px !important;}
.pl-7{padding-left:35px !important;}
.pl-8{padding-left:40px !important;}
.pl-9{padding-left:45px !important;}
.pl-10{padding-left:50px !important;}

.pr-0{padding-right:0 !important;}
.pr-1{padding-right:5px !important;}
.pr-2{padding-right:10px !important;}
.pr-3{padding-right:15px !important;}
.pr-4{padding-right:20px !important;}
.pr-5{padding-right:25px !important;}
.pr-6{padding-right:30px !important;}
.pr-7{padding-right:35px !important;}
.pr-8{padding-right:40px !important;}
.pr-9{padding-right:45px !important;}
.pr-10{padding-right:50px !important;}

.deep-list-date {
    display: block;
    font-size: 12px;
    color: #999;
}

/* Loader animation for Automated response */
#floatBarsG{
	position: relative;
    width: 108px;
    height: 13px;
    margin: 10px 0 0 10px;
    display: block;
    float: left;
}

.floatBarsG{
	position:absolute;
	top:0;
	background-color:rgb(149,169,173);
	width:13px;
	height:13px;
	animation-name:bounce_floatBarsG;
	-o-animation-name:bounce_floatBarsG;
	-ms-animation-name:bounce_floatBarsG;
	-webkit-animation-name:bounce_floatBarsG;
	-moz-animation-name:bounce_floatBarsG;
	animation-duration:1.69s;
	-o-animation-duration:1.69s;
	-ms-animation-duration:1.69s;
	-webkit-animation-duration:1.69s;
	-moz-animation-duration:1.69s;
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	animation-direction:normal;
	-o-animation-direction:normal;
	-ms-animation-direction:normal;
	-webkit-animation-direction:normal;
	-moz-animation-direction:normal;
	transform:scale(.3);
	-o-transform:scale(.3);
	-ms-transform:scale(.3);
	-webkit-transform:scale(.3);
	-moz-transform:scale(.3);
}

#floatBarsG_1{
	left:0;
	animation-delay:0.68s;
		-o-animation-delay:0.68s;
		-ms-animation-delay:0.68s;
		-webkit-animation-delay:0.68s;
		-moz-animation-delay:0.68s;
}

#floatBarsG_2{
	left:13px;
	animation-delay:0.85s;
		-o-animation-delay:0.85s;
		-ms-animation-delay:0.85s;
		-webkit-animation-delay:0.85s;
		-moz-animation-delay:0.85s;
}

#floatBarsG_3{
	left:27px;
	animation-delay:1.01s;
		-o-animation-delay:1.01s;
		-ms-animation-delay:1.01s;
		-webkit-animation-delay:1.01s;
		-moz-animation-delay:1.01s;
}

#floatBarsG_4{
	left:40px;
	animation-delay:1.18s;
		-o-animation-delay:1.18s;
		-ms-animation-delay:1.18s;
		-webkit-animation-delay:1.18s;
		-moz-animation-delay:1.18s;
}

#floatBarsG_5{
	left:54px;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#floatBarsG_6{
	left:67px;
	animation-delay:1.52s;
		-o-animation-delay:1.52s;
		-ms-animation-delay:1.52s;
		-webkit-animation-delay:1.52s;
		-moz-animation-delay:1.52s;
}

#floatBarsG_7{
	left:81px;
	animation-delay:1.69s;
		-o-animation-delay:1.69s;
		-ms-animation-delay:1.69s;
		-webkit-animation-delay:1.69s;
		-moz-animation-delay:1.69s;
}

#floatBarsG_8{
	left:94px;
	animation-delay:1.86s;
		-o-animation-delay:1.86s;
		-ms-animation-delay:1.86s;
		-webkit-animation-delay:1.86s;
		-moz-animation-delay:1.86s;
}



@keyframes bounce_floatBarsG{
	0%{
		transform:scale(1);
		background-color:rgb(168,191,191);
	}

	100%{
		transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_floatBarsG{
	0%{
		-o-transform:scale(1);
		background-color:rgb(168,191,191);
	}

	100%{
		-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_floatBarsG{
	0%{
		-ms-transform:scale(1);
		background-color:rgb(168,191,191);
	}

	100%{
		-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_floatBarsG{
	0%{
		-webkit-transform:scale(1);
		background-color:rgb(168,191,191);
	}

	100%{
		-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_floatBarsG{
	0%{
		-moz-transform:scale(1);
		background-color:rgb(168,191,191);
	}

	100%{
		-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

.sendingText {
	text-align: center;
	float: left;
	line-height: 32px;
}
#responseLoader {
	display:none;
}
}
/* Ends Loader animation for Automated response */

.break-word {
  word-wrap: break-word;
}

#createTicket fieldset {
    border: 1px solid #ddd;
    margin: 0 0 20px;
}

#createTicket legend {
    font-size: 12px;
    display: unset;
    width: auto;
    border: none;
    margin: 10px;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
}
.embedded-url {
    padding: 0 15px 15px;
}
.autocomplete-combo {
    margin: 15px 0 0;
    position: relative;
}

.autocomplete-combo input[type="text"] {
    width: 100%;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #ddd;
}
.autocomplete-combo i {
    position: absolute;
    right: 1px;
    top: 7px;
    font-size: 20px;
    background: #fff;
    width: 24px;
    text-align: center;
}

#ticketInfo table,
#ticketDetailsModal table {
    width: 100%;
}

#ticketInfo td,
#ticketDetailsModal td{
	padding: 10px 0;
}

/*#ticketInfo .table-head > div:nth-child(1),
#ticketInfo td:nth-child(1) {
    width: 8%;
}
#ticketInfo .table-head > div:nth-child(2),
#ticketInfo td:nth-child(2) {
    width: 15%;
}
#ticketInfo .table-head > div:nth-child(3),
#ticketInfo td:nth-child(3) {
    width: 49%;
}
#ticketInfo .table-head > div:nth-child(4),
#ticketInfo td:nth-child(4) {
    width: 10%;
}
#ticketInfo .table-head > div:nth-child(5),
#ticketInfo td:nth-child(5) {
    width: 10%;
}
#ticketInfo .table-head > div:nth-child(6),
#ticketInfo td:nth-child(6) {
    width: 8%;
}*/
.ticket-action i {
    color: #43413b;
    font-size: 16px;
}
#ticketInfoModal label {
    font-weight: bold;
    margin-bottom: 0;
}

#ticketInfoModal .row {
    margin-bottom: 15px;
}

#ticketInfoModal select {
    width: 100%;
    padding: 5px;
}
.ticket-action.disable-comment i {
    color: #a7a7a7;
}
.feedback-link {
    color: #46a8a2;
    font-weight: bold;
}

.feedback-link i {
    padding: 0px 5px 0 0;
    font-size: 16px;
}
.ticket-action.disable-comment {
    pointer-events: none;
}

/*----24-07-2018-Dashboard-----*/
.feeds-block{
	border-left:1px #d3d3d3 solid;
}
.feeds-block h4{
	border-bottom:1px #540485 solid;
	width:100%;
	height: 15px
}
.feeds-block h4 span{
	background: #fff;
	color:#540485;
	font-size: 18px;
}
.feeds-block h4 span.right{
	float: right
}
.Positive-feed{
	background: #e1fedd;
	color: #3b3b3b;
	font-size: 14px;
	line-height:16px;
	
  padding: 10px;
  border-radius: 3px;
	margin-bottom: 10px
}
/*.positive-feed p, .negative-feed p{
	white-space:nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  
}*/

.Negative-feed{
	background: #fedddd;
	color: #3b3b3b;
	font-size: 14px;
	line-height:16px;
	/*height: 48px; 
   overflow: hidden; 
  text-overflow: ellipsis;*/
  padding: 10px;
  border-radius: 3px;
	margin-bottom: 10px
}
.Positive-feed a, .Negative-feed a{
	font-weight: bold;
	font-style:italic;
	float: right;
}

.aspect-legend-number{
	font-size: 87px;
	line-height:87px;
	font-weight: bold;
	color:inherit
}
.aspect-legend-detail h2{
	font-size: 24px;
	font-weight: bold;
	color:inherit;
	margin-top: 8px;
	text-transform: uppercase;
	margin-bottom: 0
}
.aspect-legend-detail label{
	display: block;
	font-size: 18px;
	line-height:18px;
	margin-bottom: 2px
}
.aspect-legend-1, .aspect-legend-1 .aspect-legend-detail h2{
	color:#afe650
}
.aspect-legend-2, .aspect-legend-2 .aspect-legend-detail h2{
	color:#50e6af
}
.aspect-legend-3, .aspect-legend-3 .aspect-legend-detail h2{
	color:#34b2e4
}
.aspect-legend-4, .aspect-legend-4 .aspect-legend-detail h2{
	color:#075482
}
.aspect-legend-5, .aspect-legend-5 .aspect-legend-detail h2{
	color:#ffca5d
}
.aspect-legend-6, .aspect-legend-6 .aspect-legend-detail h2{
	color:#fe912c
}
.aspect-legend-7, .aspect-legend-7 .aspect-legend-detail h2{
	color:#e44957
}
.aspect-list li{
	list-style: none;
	font-size: 16px;
	margin-bottom: 20px;
}
.aspect-list li.positiveText{
	color:#019444;
}
.aspect-list li.negativeText{
	color:#d80027;
}
.table-theme{
	border: 1px solid #ddd
}
.table-theme th{
	background: #540485;
	color:#fff;
}
.table-theme td{
	padding:5px 10px !important;
}
.table-theme tr:nth-child(n){
	background: #F7F7F7;
}
.table-theme tr:nth-child(2n){
	background: #fff;
}

.no-scroll{
	overflow: visible !important;
	height: auto !important;
}

.hide-for-pdf {
	cursor:pointer;
}

.label-Closed{
	background-color: #31ac06
}
.label-WIP{
	background-color: #d5891c
}
.label-Invalid{
	background-color: #838382
}
.label-In-Progress{
	background-color: #ecb82c
}
.label-NEW{
	background-color: #ec2c2c 
}

.label-Online{
	background-color: #31ac06
}

.feed-pdf .Positive-feed, .feed-pdf .Negative-feed{
 white-space:nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}

/*-------added by somosree 22112018-----------*/
.bl-1{
	border-left:1px solid #ccc
}
.br-1{
	border-right:1px solid #ccc
}
.post_list{
	    border-bottom: 1px #ccc dashed;
	    margin-bottom: 10px
}
.post_list.selected, .tweet_user_list li.selected{
	background: #efefef
}
.comment-widget{
	padding-left: 0
}
.comment-widget li{
	list-style: none;
	position:relative;
	}
.comment-widget li div{
	background: #dae3eb;
	padding:5px  10px ;
	border-radius: 3px;
	width:90%;
	float: left
}
.comment-widget li i{
	font-size:1.5em
}
.comment-widget li div strong{
	color: #365899
}
.comment-widget li ul li:before{
	content: "\f112";
	font-family: FontAwesome;
	position: absolute;
    left: -15px;
    transform: rotate(180deg);
    color: #365899
}
.username_label{
	background: #EEEEEE;
	border-radius: 20px;
	padding:5px;
	color: #8e8e8e;
	margin-top: 2px;
	display: inline-block;
	font-weight: bold
}
.username_label i{
	font-size: 14px !important;
	color: #8e8e8e;
	margin-right: 5px
}
.text-ellipsis{
 white-space:nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
}
.post-link-icon{
	position: absolute;
    right: -14px;
    top: 1px;
}
.comment-date{
	font-size: 10px;
    font-weight: bold;
    display: block;
    text-align: right;
    color: #7d7d7d;
    font-style: italic;
}
.tag-list{
	margin: 0;
	padding:0 
}
.tag-list li{
	list-style:none;
	background: #e8e7e7;
	border:1px #CCC solid;
	border-radius:3px;
	padding:5px; 
	float: left;
	margin:5px 3px 5px 0;
}
.bg-black{
	background: #000 !important
}

/*---10-12-2018---*/
/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@-webkit-keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@keyframes dothabottomcheck {
  0% {
    height: 0;
  }
  100% {
    height: 15px;
  }
}
@keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
@-webkit-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
@-moz-keyframes dothatopcheck {
  0% {
    height: 0;
  }
  50% {
    height: 0;
  }
  100% {
    height: 25px;
  }
}
.chk-hidden {
  display: none;
}

.check-box {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color ease 0.2s;
  -o-transition: border-color ease 0.2s;
  -webkit-transition: border-color ease 0.2s;
  transition: border-color ease 0.2s;
  cursor: pointer;
  float: right;
  margin:8px 0 0 15px;
}
.check-box::before, .check-box::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  height: 0;
  width: 3px;
  background-color: #fff;
  display: inline-block;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-radius: 5px;
  content: " ";
  -webkit-transition: opacity ease 0.5;
  -moz-transition: opacity ease 0.5;
  transition: opacity ease 0.5;
}
.check-box::before {
 top: 13px;
    left: 14px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.check-box::after {
      top: 4px;
    left: 2px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.chk-hidden:checked + .check-box,
.check-box.checked {
  border-color: #fff;
}
.chk-hidden:checked + .check-box::after,
.check-box.checked::after {
  height: 15px;
  -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
  -o-animation: dothabottomcheck 0.2s ease 0s forwards;
  -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
  animation: dothabottomcheck 0.2s ease 0s forwards;
}
.chk-hidden:checked + .check-box::before,
.check-box.checked::before {
  height: 25px;
  -moz-animation: dothatopcheck 0.4s ease 0s forwards;
  -o-animation: dothatopcheck 0.4s ease 0s forwards;
  -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
  animation: dothatopcheck 0.4s ease 0s forwards;
}
.check-box_div_positive{
	background: #008000;
	border-radius: 3px;	
	color: #fff;
	height: 38px;
	padding: 0 15px;
	font-size:14px;
	font-weight: normal;
	float: left;
	margin-right: 5px
}
.check-box_div_negative{
	background: #FF0000;
	border-radius: 3px;	
	color: #fff;
	height: 38px;
	padding: 0 15px;
	font-size:14px;
	font-weight: normal;
	float: left;
}
.check-box_div_neutral{
	background: #FFA500;
	border-radius: 3px;	
	color: #fff;
	height: 38px;
	padding: 0 15px;
	font-size:14px;
	font-weight: normal;
	float: left;
	margin-right: 5px
}
.check-box_div_positive span, .check-box_div_negative span, .check-box_div_neutral span{
	padding-top: 7px;
	display: inline-block;
}
.search-box,.close-icon,.search-wrapper {
	position: relative;
}

.close-icon {
	border:1px solid transparent;
	background-color: transparent;
	display: inline-block;
	vertical-align: middle;
  	outline: 0;
  	cursor: pointer;
  	position: absolute;
    right: 4px;
	top: 9px;
	z-index: 0;
	width: 15px;
	height: 14px;
}
.close-icon:after {
	content: "X";
	display: block;
	width: 15px;
	height: 15px;
	position: absolute;
	background-color: #FA9595;
	z-index:1;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	border-radius: 50%;
	text-align: center;
	color: white;
	font-weight: normal;
	font-size: 12px;
	box-shadow: 0 0 2px #E50F0F;
	cursor: pointer;
	    line-height: 12px;
}
.search-box:not(:valid) ~ .close-icon {
	display: none;
}
.label-invalid{
	 position: absolute;
	 right: -11px;
	 top: 18px;
	 color: #fff;
	padding: 0 3px;
	font-size: 11px;
}
.label-invalid_comment{
	 float:right;
	 color: #fff;
	padding: 0 3px;
	font-size: 11px;
}
.label-tagged{
	 position: absolute;
	 left: 0;
	 top: 18px;
	 color: #938f90;
	padding: 0 2px;
	font-size: 11px;
	background: #eee;
	border:1px #ccc dotted
}
.tweet_user_list li{
	border-bottom: 1px #ccc solid;
	margin-bottom: 5px;
	padding: 5px 0;
	list-style: none;
}
.tweet-detail-self .post-user-image{
	float: right
}
.tweet-detail-self .tweet-message{
	background: #1DA1F2;
	border-radius: 20px 20px 0 20px;
	color: #fff;
	padding: 10px 15px;
	float: right;
}
.tweet-detail-other .tweet-message{
	background: #E6ECF0;
	border-radius: 20px 20px  20px 0;
	color: #6d6d6d;
	padding: 10px 15px;
	float: left;
}
.tweet-detail-self .pull-right, .tweet-detail-other .pull-left{
	width: calc(100% - 65px);
}

.load-more-btn {
    width: 90%;
    line-height: 30px;
    border-radius: 1px;
    /*margin: 0 auto;*/
    display: block;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    float: none;
  }
.load-more-btn-no-more{
    width: 90%;
    line-height: 30px;
    border-radius: 1px;
    /*margin: 0 auto;*/
    display: block;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    float: none;
  }
  .load-more-btn:hover { background: #6b6172; }
  .table-head td{
  color: #fff;
  }
