.form-control {
    border: 1px solid #abadb3;
    height: 33px;
    font-size:13px;
}
.loginform-wrapper .form-control{
	height: 36px;
	border-radius: 2px;
	font-size: 1.1em;	
	border-color: #ddd;
}

.loginform-wrapper form .row {
    display: block;
	margin-bottom:20px;
}

.loginform-wrapper, .logo-wrapper, .addinfo-wrapper {
    display: table;
    float: none;
    margin: 0 auto 20px;
}
.loginform-wrapper{
	position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-height: 485px;
	display: block;
}
.logo-wrapper{
	margin-top: 30px;
}
.login-logo {
    display: table;
    margin: 0 auto;
}
.login-logotxt {
    margin: 10px 0 0;
}
.loginform-wrapper .block-cover {
    border: 1px solid #ddd;
    box-shadow: none;
	padding:0 15px;
	background-color: #FAFAFA;
	border-radius: 0 0 4px 4px; 
}
.gradiant-line{
	background: #43413b;
	/* background: -moz-linear-gradient(left, #22adca 0%, #37b6a3 100%);
	background: -webkit-linear-gradient(left, #22adca 0%,#37b6a3 100%);
	background: linear-gradient(to right, #22adca 0%,#37b6a3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22adca', endColorstr='#37b6a3',GradientType=1 ); */
	height:7px;
}

.loginform-wrapper label {
	color: #798693;
    font-weight: bold;
    line-height: 35px;
    margin: 0;
    text-align: right;
    width: 100%;
}
.loginform-wrapper label.mand::after {
    color: #ec6666;
    content: "*";
    padding: 0 0 0 2px;
}
.loginform-wrapper .border-top{
	border-top: 1px solid #ddd;
    margin-bottom: 0;
    padding-top: 15px;
}
.registration{
	border: 1px solid #2b79b1;
    border-radius: 2px;
    color: #2b79b1;
    font-size: 1.2em;
    font-weight: 500;
}
.loginform-wrapper .block-body{
	padding-bottom: 20px;
	padding-top: 20px;
}
.resgistration .loginform-wrapper{
	position: static;
	margin: 0 auto;
}
.resgistration {
	background-color: transparent;
}
.loginform-wrapper * {
    letter-spacing: 1px;
}
.first-time-user{
	font-size: 1.2em;
    color: #444;
    margin: 9px 0 0 0;
}
.padding-top{
	padding-top: 15px;
}
.padding-top-6{
	padding-top: 6px;
}
.loginform-wrapper button[type="submit"]{
    background: #540485;
    color: #fff;
	display: block;
    float: left;
	text-transform: uppercase;
	height: 38px;
	border-radius: 2px;
	font-size: 1.2em;
}
.icon-inner-addon {
  position: relative;
}

/* style glyph */
.icon-inner-addon .fa{
  position: absolute;
  padding: 7px 10px;
}
.loginform-wrapper .fa-user:before,
.loginform-wrapper .fa-lock:before{
    font-size: 20px;
}
/* align glyph */
.left-addon .fa  { 
	left:  0px;
}
.right-addon .fa {
	right: 15px;
    color: #bbb;
}

/* add padding  */
.left-addon input  { 
	padding-left:  30px; 
}
.right-addon input { 
	padding-right: 37px; 
}

.forget-password{
	font-weight: bold;
    font-size: 1.2em;
    color: #540485;
}
.powered-by{
	color: #1d374d;
    font-size: 12px;
    letter-spacing: normal;
}
.powered-by > img {
    margin-right: 2px;
}

.reg-btn > h3 {
    display: table;
    float: left;
    line-height: 20px;
    margin-right: 10px;
}
.reg-btn > a {
    color: #26ba9a;
}
.reg-btn {
    border-top: 1px solid #ddd;
	padding-top: 15px;
}

.forget-pass {
    display: block;
    float: left;
    margin: 8px 0 0 10px;
    color: #375167;
    cursor: pointer;
}
.loginform-wrapper h4 {
    font-size: 15px;
}

.activeprofile h4 {
   font-weight: bold;
    font-size: 15px;
    padding: 12px 15px 0;
}
.summary-panel {
    background-color: #f1f1f1;
}
.summary-content .not-table {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dedede;
}
.activeprofile a {
    color: #375167;
    font-weight: bold;
}
#addInfo.panel-group .panel + .panel {
    margin-top: 0;
}
#addInfo.panel-group .panel {
    border-radius: 0;
    border-top: medium none;
    box-shadow: none;
}
.panel.panel-default {
}

#registrationForm .form-group > div {
    position: relative;
}
#registrationForm .form-group > div span {
    color: #ec6666;
    position: absolute;
    right: 0;
    top: 0;
}

#addInfo.panel-group .panel:first-child {
    border-top: 1px solid #ddd;
}
#addInfo .panel-default > .panel-heading {
    background: #f1f5f8;
    border-radius: 0;
    padding: 0 15px;
}
#addInfo .panel-default > .panel-heading .panel-title {
    color: #2a3e56;
    font-size: 14px;
    line-height: 35px;
}

#addInfo .panel-default > .panel-heading .panel-title a {
    display: block;
}
#addInfo .panel-default > .panel-heading .panel-title a span {
    display: inline-block;
    margin: 0 5px 0 0;
    text-align: center;
    width: 30px;
}

.user-btn, .keyword-btn, .competitor-btn {
    background: #f1f1f1;
    display: table;
    float: left;
	margin: 0 10px 0 0;
    padding: 5px 15px;
    position: relative;
}
.user-btn span, .keyword-btn span, .competitor-btn span {
    cursor: pointer;
    font-size: 12px;
    position: absolute;
    right: 2px;
    top: -3px;
}

.user-list, .keyword-list, .competitor-list {
    margin-top: 15px;
    overflow: hidden;
}

.select-social-profile, .select-mainstream-media, .select-other-sources, .add-com-input {
    float: left;
    width: 100%;
}
#addSocialProfile, .add-com-btn {
    background: #1abb9c !important;
    border: 1px solid #1abb9c;
    box-shadow: none;
    color: #fff !important;
    float: left;
    padding: 5px 15px 6px;
    text-shadow: 0 0 0;
    min-width: 60px;
}
.add-social-listing, .add-mainstream-listing, .add-othersources-listing {
    margin: 20px 0 0;
}

.msmedia-list > label {
    float: left;
    margin: 0 15px 0 2px;
}
.msmedia-list > div {
    float: left;
}
.msmedia-list {
    margin: 0 0 9px;
    overflow: hidden;
}
#registrationForm label, #forgotForm label, #resetForm label {
    color: #999;
    display: table;
    float: left;
    font-weight: normal;
    text-align: left;
    width: 30%;
}
#registrationForm input, #registrationForm select, #forgotForm input, #resetForm input {
    float: left;
    width: 70%;
}
#registrationForm button, #forgotForm button, #resetForm button {
    float: none;
    margin: 0 auto;
}
.error-messages {
  position: relative;
}

.error-messages, .message {
  opacity: 1;
  transition: .3s linear all;
}

.message {
  color: #a94442;
  font-size: 0.8em;
  left: 31%;
  margin-top: 2px;
  position: absolute;
  top: -25px;
}

.error-messages.ng-enter.ng-enter-active,
.message.ng-enter.ng-enter-active {
  opacity: 1;
  top: 0;
}

.error-messages.ng-enter,
.message.ng-enter {
  opacity: 0;
  top: -10px;
}

.error-messages.ng-leave,
.message.ng-leave {
  opacity: 1;
  top: 0;
}

.error-messages.ng-leave-active,
.message.ng-leave-active {
  opacity: 0;
  top: -10px;
}

.loginform-wrapper .my-messages .row {
    margin-bottom: 0;
}

.error-message {
    background: rgba(255, 0, 0, 0.03);
    margin: 0 30px 20px;
    padding: 5px 10px;
    color: #f00;
	text-align: center;
}

.margin-bottom-0{
	margin-bottom: 0 !important;
}
.add-all-users{
	display: block;
	margin:0 !important;
	width:100% !important;
	float:none !important;
}
.add-all-users > button{
	display:table;
	margin:0 auto !important;
}

.error-page {
    margin: 0 0 50px;
}

.sadface {
    display: table;
    margin: 30px auto 40px;
    width: 180px;
}
.sadface > img, .warning-ico > img {
    height: auto;
    width: 100%;
}
.warning-ico {
    float: left;
    margin-right: 20px;
    width: 120px;
}
.error-text {
    float: right;
    width: calc(100% - 140px);
}
.error-text > h4 {
    color: #b02424;
    font-size: 25px;
    margin-bottom: 5px;
}

.error-con {
    background: #f9f9f9;
    overflow: hidden;
    padding: 30px;
}
.sm-sp, .sm-cd {
    border: 1px solid #ddd;
    margin: 20px;
}
.sm-sp > li {
    overflow: hidden;
}
.sm-sp-col1 {
    float: left;
    width: 30%;
}
.sm-sp-col2 {
    float: left;
    width: 70%;
}
.sm-sp-col2 > ul > li {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    padding: 5px 10px;
    width: 50%;
}
.sm-sp-col2 > ul {
    overflow: hidden;
}
.sm-sp > li:first-child .sm-sp-col2 > ul:first-child > li {
    border-top: 0 none;
}

.sm-sp > li > .sm-sp-col1 {
    border-top: 1px solid #ddd;
    padding: 5px 10px;
	font-weight:bold;
}
.sm-sp > li:first-child > .sm-sp-col1 {
    border: medium none;
}
.sm-cd-col1, .sm-cd-col2, .sm-cd-col3, .sm-cd-col4 {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: block;
    float: left;
    min-height: 1px;
    padding: 5px 10px;
    width: 25%;
}
.sm-cd > li {
    overflow: hidden;
}
.sm-cd-col1 {
    font-weight: bold;
}
.sm-cd > li > .sm-cd-col1 {
    border-left: medium none;
}
.sm-cd > li:first-child > div {
    border-top: medium none;
}

.sm-sp, .sm-cd {
    border: 1px solid #ddd;
    margin: 20px;
}
.sm-sp > li {
    overflow: hidden;
}
.sm-sp-col1 {
    float: left;
    width: 30%;
}
.sm-sp-col2 {
    float: left;
    width: 70%;
}
.sm-sp-col2 > ul > li {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    padding: 5px 10px;
    width: 50%;
}
.sm-sp-col2 > ul {
    overflow: hidden;
}
.sm-sp > li:first-child .sm-sp-col2 > ul:first-child > li {
    border-top: 0 none;
}

.sm-sp > li > .sm-sp-col1 {
    border-top: 1px solid #ddd;
    padding: 5px 10px;
	font-weight:bold;
}
.sm-sp > li:first-child > .sm-sp-col1 {
    border: medium none;
}
.sm-cd-col1, .sm-cd-col2, .sm-cd-col3, .sm-cd-col4 {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    display: block;
    float: left;
    min-height: 1px;
    padding: 5px 10px;
    width: 25%;
}
.sm-cd > li {
    overflow: hidden;
}
.sm-cd-col1 {
    font-weight: bold;
}
.sm-cd > li > .sm-cd-col1 {
    border-left: medium none;
}
.sm-cd > li:first-child > div {
    border-top: medium none;
}

.lnr {
  display: inline-block;
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
}

.lnr-download {
  color: #0F52BA;
  /* We can use "color" for setting the color
  of the SVG because we set its "fill" to
  "currentColor" */
  font-size: 40px;
  /* We can use "font-size" for changing the size
  of the SVG because its width and height were
  set 1em.
  To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}
.loginform-wrapper .lnr-download {
    color: #fff;
    font-size: 25px;
    transform: rotate(270deg);
    position: absolute;
    top: 5px;
    margin-left: 8px;
}
#setting #resetPassword{
	margin-top: 15px;
}

#setting #resetPassword > .row {
    margin-bottom: 10px;
}




