.dotPagesAnchor {
	background-color: #efefef !important;
	border-bottom: 4px solid #cad336 !important;
	border-color: transparent transparent #cad336 !important;
	border-radius: 50% !important;
	color: #565656 !important;
	cursor: pointer !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
	padding-bottom: 2px !important;
	z-index: 2 !important;
	
	
}