<!-- Fixed area for all page-->
<div id="dailySnapshot" class="comp-snapshot pt-3">
	<div class="block-cover">
		<div class="block-head">
			<div class="row">
				<div class="col-md-12">
					<h3 class="block-name"> Snapshot</h3>
					<div style="float:right;line-height: 40px;">
						<label style="color:white;"><b>Crawling Status :</b> &nbsp;</label>
						<label data-ng-bind="sourceCrawlingStatus" style="color:white;"></label>
					</div>
				</div>
			</div>
		</div>
		<div class="block-body">
			<div class="row">
		        <div class="col-md-2">
		        	<ul class="periodic-comp-source-list">
		        		<li data-ng-class="(selectedSourceForSnapshot==source[1])?'active':''" 
			        		data-ng-repeat="source in topSnapshotSources"
			        		data-ng-click="snapshotPeriodicSourceClick(source[1],source[2],'sourceClicked')">
		        			<a href="javascript:void()" data-ng-bind="source[0]"></a>
		        			<div class="active-arrow"></div>
		        		</li>
		        	</ul>
		        </div>
		        <div class="col-md-10 pt-3 pb-3">
		        	<div class="row mr-0 ml-0 periodic-comp-filter">
		        		<div class="col-md-6 inner-filter pl-0">
		        			<div class="row">
		        				<div class="col-md-4 pc-filter-label">Start Duration</div>
		        				<div class="col-md-6">
		        					<div class="dropdown custom-datepicker">
		        						<div class="input-group">
		                        			<input date-range-picker id="periodicPrevious" name="periodicPrevious" class="form-control date-picker" type="text" ng-model="periodicPrevious" min="'20-02-2018'" max="'20-04-2018'" options="opts" required/>
		                        			<!-- <input type="text" id="periodicPrevious" name="periodicDatefilter" ng-model="periodicPrevious" class="periodicPrevious periodicDatefilter" value="" /> -->
		                        			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		                        		</div>
		                       		</div>
		                       		<label class="tp-snapshot-cal-lbl">*Select within last 30 days</label>
		        				</div>
		        				<div class="col-md-2"></div>
		        			</div>
		        			
		        		</div>
		        		<div class="col-md-6 inner-filter pr-0">
		        			<div class="row">
		        				<div class="col-md-4 pc-filter-label">End Duration</div>
		        				<div class="col-md-5">
		        					<div class="dropdown custom-datepicker">
		        						<div class="input-group">
				                         	<input date-range-picker id="periodicCurrent" name="periodicCurrent" class="form-control date-picker" type="text" ng-model="periodicCurrent" min="'20-02-2018'" max="'20-04-2018'" options="opts" required/>
				                         	<!-- <input type="text" id="periodicCurrent" name="periodicDatefilter" ng-model="periodicCurrent" class="periodicCurrent periodicDatefilter" value="" /> -->
			                       			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
		                        		</div>
			                       	</div>
			                       	<label class="tp-snapshot-cal-lbl">*Select within last 30 days</label>
		        				</div>
		        				<div class="col-md-3">
		        					<button class="btn primary-btn go-btn pull-right" aria-hidden="true" type="button" ng-click="snapshotPeriodicSourceClick(selectedSourceForSnapshot,sourceCrawlingStatus,'goClicked')">
										<span aria-hidden="true" class="fa fa-arrow-right"></span> Go
									</button>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        	<div class="row mr-0 ml-0 mt-2 periodic-comp-box">
		        		<!-- Snapshot block starts here for  -->
		        		<!-- If length is 2 then it will dynamically create two blocks and put value into it -->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 2" data-ng-repeat="eachData in snapshotPeriodicData">
		        			<div class="snap-block">
		        				<legend data-ng-if="eachData[4] == 'PREVIOUS'"><i class="glyphicon glyphicon-calendar"></i> {{legendTitleDateTimePrevious}}<!-- 04-04-2018 04-04-2018 --></legend>
		        				<legend data-ng-if="eachData[4] == 'CURRENT'"><i class="glyphicon glyphicon-calendar"></i> {{legendTitleDateTimeCurrent}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" data-ng-bind="snapshotPeriodicDataLabels[0]"><!-- FEEDBACK --></span></div>
			                                <div class="rt">
			                                 <div>
													<a data-ng-bind="eachData[0]"></a>
													<!-- <a data-ng-bind="eachData[0]" href="javaScript:void()" data-toggle="modal" data-target="#snapshotModal" ng-click="fn_showFeedbacksDetails(selectedSourceForSnapshot,eachData[4],eachData[0])"></a> -->
			                                    </div>
			                                    
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" data-ng-bind="snapshotPeriodicDataLabels[1]"><!-- COMPLAINT --> </span></div>
			                                <div class="rt">
			                                 <div>
			                                 	<a class="red" data-ng-bind="eachData[1]"></a>
												<!-- <a class="red" data-ng-bind="eachData[1]" href="javaScript:void()" data-toggle="modal" data-target="#snapshotModal" ng-click="fn_showComplaintsDetails(selectedSourceForSnapshot,eachData[4],eachData[1])"></a> -->	
			                                    </div>
			                        
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> {{snapshotPeriodicDataLabels[2]}}<!-- Top Complaint -->
			                                </div>
			                                <div class="dash-context-text text-red count-com" id="most_complaint_topics">
			                                    <span title="" data-ng-bind="eachData[2]"></span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> {{snapshotPeriodicDataLabels[3]}}<!-- Top Contexts -->
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span data-ng-bind="eachData[3]"></span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here -->
		        		
		        		<!-- Snapshot block starts here for length 1 (Current)-->
		        		<!-- If length is 1 and data is for CURRENT Snapshot block, then it will create static  block for 
		        		PREVIOUS and put hardcode value into it -->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 1 && snapshotPeriodicData[0][4] =='current'" >
		        			<div class="snap-block">
		        				<legend><i class="glyphicon glyphicon-calendar"></i>  {{legendTitleDateTimePrevious}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >FEEDBACK</span></div>
			                                <div class="rt">
			                                    <div>
													<span>0</span>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >COMPLAINT</span></div>
			                                <div class="rt">
			                                    <div>
													<span class="red" >0</span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint
			                                </div>
			                                <div class="dash-context-text text-red count-com" >
			                                    <span title="" >NA</span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> Top Contexts
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span>NA</span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here for length 1 (Current)-->
		        		
		        		<!-- Snapshot block starts here for length 1 (Current)-->
		        		<!-- If length is 1 and data is for CURRENT Snapshot block only, then it will create static  block for 
		        		CURRENT and put Dynamic value into it -->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 1 && snapshotPeriodicData[0][4] =='current'" >
		        			<div class="snap-block">
		        				<legend><i class="glyphicon glyphicon-calendar"></i>  {{legendTitleDateTimeCurrent}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >FEEDBACK</span></div>
			                                <div class="rt">
			                                    <div>
													<span ng-bind="snapshotPeriodicData[0][0]"></span>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >COMPLAINT</span></div>
			                                <div class="rt">
			                                    <div>
													<span class="red" ng-bind="snapshotPeriodicData[0][1]"></span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint
			                                </div>
			                                <div class="dash-context-text text-red count-com" >
			                                    <span title="" ng-bind="snapshotPeriodicData[0][2]"></span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> Top Contexts
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span ng-bind="snapshotPeriodicData[0][3]"></span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here for length 1 (Current) -->
		        		
		        		<!-- Snapshot block starts here for length 1 (Previous)-->
		        		<!-- If length is 1 and data is for PREVIOUS Snapshot block, then it will create static  block for 
		        		PREVIOUS and put Dynamic value into it -->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 1 && snapshotPeriodicData[0][4] =='previous'" >
		        			<div class="snap-block">
		        				<legend><i class="glyphicon glyphicon-calendar"></i>  {{legendTitleDateTimePrevious}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >FEEDBACK</span></div>
			                                <div class="rt">
			                                    <div>
													<span ng-bind="snapshotPeriodicData[0][0]"></span>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >COMPLAINT</span></div>
			                                <div class="rt">
			                                    <div>
													<span class="red" ng-bind="snapshotPeriodicData[0][1]"></span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint
			                                </div>
			                                <div class="dash-context-text text-red count-com" >
			                                    <span title="" ng-bind="snapshotPeriodicData[0][2]"></span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> Top Contexts
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span ng-bind="snapshotPeriodicData[0][3]"></span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here for length 1 -->
		        		
		        		<!-- Snapshot block starts here for length 1 (previous)-->
		        		<!-- If length is 1 and data is for PREVIOUS Snapshot block, then it will create static  block for 
		        		CURRENT and put Hardcode value into it -->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 1 && snapshotPeriodicData[0][4] =='previous'" >
		        			<div class="snap-block">
		        				<legend><i class="glyphicon glyphicon-calendar"></i>  {{legendTitleDateTimeCurrent}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >FEEDBACK</span></div>
			                                <div class="rt">
			                                    <div>
													<span>0</span>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >COMPLAINT</span></div>
			                                <div class="rt">
			                                    <div>
													<span class="red" >0</span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint
			                                </div>
			                                <div class="dash-context-text text-red count-com" >
			                                    <span title="" >NA</span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> Top Contexts
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span>NA</span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here for length 1 (Previous)-->
		        		
		        		
		        		<!-- Snapshot block starts here for length 0 (Previous)-->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 0 || !ifSnapshotLoaded" >
		        			<div class="snap-block">
		        				<legend><i class="glyphicon glyphicon-calendar"></i>  {{legendTitleDateTimePrevious}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >FEEDBACK</span></div>
			                                <div class="rt">
			                                    <div>
													<span>0</span>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >COMPLAINT</span></div>
			                                <div class="rt">
			                                    <div>
													<span class="red" >0</span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint
			                                </div>
			                                <div class="dash-context-text text-red count-com" >
			                                    <span title="" >NA</span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> Top Contexts
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span>NA</span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here for length 0 (Previous)-->
		        		
		        		<!-- Snapshot block starts here for length 0 (Current)-->
		        		<div class="col-md-5 pl-0" data-ng-if="snapshotPeriodicData.length == 0 || !ifSnapshotLoaded" >
		        			<div class="snap-block">
		        				<legend><i class="glyphicon glyphicon-calendar"></i>  {{legendTitleDateTimeCurrent}}<!-- 04-04-2018 04-04-2018 --></legend>
			                    <div class="row">
			                        <div class="col-md-7">
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >FEEDBACK</span></div>
			                                <div class="rt">
			                                    <div>
													<span>0</span>
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="snap-source">
			                                <div class="lt"><span class="snap-source-name" >COMPLAINT</span></div>
			                                <div class="rt">
			                                    <div>
													<span class="red" >0</span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="col-md-5">
			                        	<div class="tile_stats_count-tp">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint
			                                </div>
			                                <div class="dash-context-text text-red count-com" >
			                                    <span title="" >NA</span>
			                                </div>
			                            </div>
			                        </div>
			                        </div>
			                    </div>
			                    <div class="row tile_count border-top">
			                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
			                            <div class="snap-context">
			                                <div class="count_top">
			                                    <i class="fa fa-comments"></i> Top Contexts
			                                </div>
			                                <div class="dash-context-text count-com" id="top_entity">
			                                    <span>NA</span>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
		        		</div>
		        		<!-- Snapshot block ends here for length 0 (Current)-->
		        		
		        		<div class="col-md-2 pr-0 pl-0" data-ng-if="ifSnapshotLoaded">
		        			<div class="feedback-rep-wapper">
			        			<div class="row">
			                        <div class="col-md-6">
			                            <div class="feed-title">Feedback</div>
			                            <div class="feed-icon">
		                            		<!-- <i class="fa fa-arrow-up green" style="font-size:70px;"></i> -->
		                            		<i ng-class="(feedbackPrevious>=feedbackCurrent)?'fa fa-arrow-down red':'fa fa-arrow-up green'" class="feedback-icon"></i>
		                            	</div>
			                         </div>
			                         <div class="col-md-6">
			                            <div class="feed-title">Complaint</div>
			                            <div class="feed-icon">
		                            		<!-- <i class="fa fa-arrow-down red" style="font-size:70px;"></i> -->
		                            		<i ng-class="(complainPrevious>=complainCurrent)?'fa fa-arrow-down green':'fa fa-arrow-up red'" class="feedback-icon"></i>
		                            	</div>
			                         </div>
				                 </div>
				                 <div class="row">
			                        <div class="col-md-12 feed-desp">Performance Indicator</div>
				                 </div>
			        		</div>
		        		</div>
		        		
		        		<div class="col-md-2 pr-0 pl-0" data-ng-if="!ifSnapshotLoaded">
		        			<div class="feedback-rep-wapper">
			        			<div class="row">
			                        <div class="col-md-6">
			                            <div class="feed-title">Feedback</div>
			                            <div class="feed-icon">
		                            		<i class="fa fa-arrow-up green" style="font-size:60px;"></i>
		                            	</div>
			                         </div>
			                         <div class="col-md-6">
			                            <div class="feed-title">Complaint</div>
			                            <div class="feed-icon">
		                            		<i class="fa fa-arrow-down green" style="font-size:60px;"></i>
		                            	</div>
			                         </div>
				                 </div>
				                 <div class="row">
			                        <div class="col-md-12 feed-desp">Performance Indicator</div>
				                 </div>
			        		</div>
		        		</div>
		        		
		        	</div>
		        </div>
		    </div>
		</div>
	</div>
</div>

<!-- <div id="dailySnapshot" class="pt-2" data-ng-hide="gettingdata || addinfo">

    <div class="filter-bar">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="filter-block">
                <ul class="filters">
                	<li ng-repeat="duration in snapshotDurations">
                			For other durations except custom
                			<a ng-class="{true: 'active', false: ''}[snapshotDateFilter == duration[0]]" ng-click='fn_snapshot_filter_new(duration[0])' ng-bind="duration[1]"></a>
                			For custom duration , special handel
                			<a ng-if="duration[1]=='custom'" ng-class="{true: 'active', false: ''}[snapshotDateFilter == 5]" ng-click='fn_snapshot_filter_new(5)' ng-bind="duration[1]"></a>
							<div ng-if="duration[1]=='custom'" class="select-custom-date" ng-if="snapshotDateFilter==6">
								<div class="dropdown">
									<a class="dropdown-toggle" id="snapshotFrom" role="button" data-toggle="dropdown" data-target="_self" href="">
										<div class="input-group">
											<input type="text" class="form-control" data-ng-model="$parent.snapshotFrom" placeholder="From" readonly> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<datetimepicker data-ng-model="$parent.snapshotFrom" data-before-render="dateRangeValidationCustomFilter($view, $dates, $leftDate, $upDate, $rightDate)" data-datetimepicker-config="{ dropdownSelector: '#snapshotFrom', modelType: 'DD-MM-YYYY'+' 00:00', minView: 'day' }" />
									</ul>
								</div>
								<div class="dropdown">
									<a class="dropdown-toggle" id="snapshotTo" role="button"
										data-toggle="dropdown" data-target="_self" href="">
										<div class="input-group">
											<input type="text" class="form-control" data-ng-model="$parent.snapshotTo" placeholder="To" readonly> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
										</div>
									</a>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
										<datetimepicker data-ng-model="$parent.snapshotTo" data-before-render="dateRangeValidationCustomFilter($view, $dates, $leftDate, $upDate, $rightDate)" data-datetimepicker-config="{ dropdownSelector: '#snapshotTo', modelType: 'DD-MM-YYYY'+' 23:59', minView: 'day' }" />
									</ul>
								</div>
								<span class="input-group-btn nbt-select-btn">
									<button class="btn btn-default" ng-disabled="snapshotFrom=='' || snapshotTo==''" type="button" ng-click="fn_snapshot_filter();">
										<span aria-hidden="true" class="fa fa-arrow-right"></span> Go
									</button>
								</span>
							</div>
                		</li>
                	</ul>
                	<ul class="filters">
                		<li ng-repeat="duration in snapshotDurations">
                			For other durations except custom
                			<a ng-class="{true: 'active', false: ''}[snapshotActiveTab == duration[1]+'-snapshot-wapper']" ng-click="showHideSnapshot(duration[1]+'-snapshot-wapper');" ng-bind="duration[1]"></a>
                		</li>
                	</ul>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-6 mr-6" style="height: 165px;">
    <div style="position:relative; height: 165px;">
    <div class="row margin-lt-rt-0 Daily-snapshot-wapper showHide">
        <div class="dashboard-carousel-daily">
            <div class="slide" ng-repeat="snapshots in snapshotDataDaily" >
                <div class="snap-block">
                    <div class="count_top"><i class="snap-icon fa {{snapshots[10]}}"></i> <span ng-bind="snapshots[0]"></span></div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="snap-source">
                                <div class="lt"><span class="snap-source-name">FEEDBACK</span></div>
                                <div class="rt">
                                    <div>
										<span ng-bind="snapshots[1]"></span>
										<span class="caret-abz text-center"><i ng-class="(snapshots[1]>=snapshots[2])?'green fa fa-caret-up fa-lg':'red fa fa-caret-down fa-lg'"></i></span>
										<span class="snap-source-count" ng-bind="snapshots[3]+'%'"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="snap-source">
                                <div class="lt"><span class="snap-source-name">COMPLAINT </span></div>
                                <div class="rt">
                                    <div>
										<span class="red" ng-bind="snapshots[4]"></span>
										<span class="caret-abz text-center"><i ng-class="(snapshots[4]>=snapshots[5])?'red fa fa-caret-up fa-lg':'green fa fa-caret-down fa-lg'"></i></span>
										<span class="snap-source-count" ng-bind="snapshots[6]+'%'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                        	<div class="tile_stats_count-tp">
                            <div class="snap-context">
                                <div class="count_top">
                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint <b ng-if="snapshots[8]" ng-bind="'('+snapshots[8]+')'"></b>
                                </div>
                                <div class="dash-context-text text-red count-com" id="most_complaint_topics">
                                    <span class="no-topic"></span> <span title="{{snapshots[7].replace(',' , ' | ').replace(',' , ' | ')}}" ng-bind="snapshots[7].replace(',' , ' | ').replace(',' , ' | ')"></span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row tile_count border-top">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
                            <div class="snap-context">
                                <div class="count_top">
                                    <i class="fa fa-comments"></i> Top Contexts
                                </div>
                                <div class="dash-context-text count-com" id="top_entity">
                                    <span ng-if="snapshots[9]==''" class="no-topic" ng-bind="'No topic'"></span> 
                                    <span ng-bind="snapshots[9].replace(',' , ' | ').replace(',' , ' | ').replace(',' , ' | ')"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    	</div>
    </div>
    <div class="row margin-lt-rt-0 Weekly-snapshot-wapper showHide">
	    <div class="dashboard-carousel-weekly">
	            <div class="slide" ng-repeat="snapshots in snapshotDataWeekly" >
	                <div class="snap-block">
	                    <div class="count_top"><i class="snap-icon fa {{snapshots[10]}}"></i> <span ng-bind="snapshots[0]"></span></div>
	                    <div class="row">
	                        <div class="col-md-7">
	                            <div class="snap-source">
	                                <div class="lt"><span class="snap-source-name">FEEDBACK</span></div>
	                                <div class="rt">
	                                    <div>
											<span ng-bind="snapshots[1]"></span>
											<span class="caret-abz text-center"><i ng-class="(snapshots[1]>=snapshots[2])?'green fa fa-caret-up fa-lg':'red fa fa-caret-down fa-lg'"></i></span>
											<span class="snap-source-count" ng-bind="snapshots[3]+'%'"></span>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="snap-source">
	                                <div class="lt"><span class="snap-source-name">COMPLAINT </span></div>
	                                <div class="rt">
	                                    <div>
											<span class="red" ng-bind="snapshots[4]"></span>
											<span class="caret-abz text-center"><i ng-class="(snapshots[4]>=snapshots[5])?'red fa fa-caret-up fa-lg':'green fa fa-caret-down fa-lg'"></i></span>
											<span class="snap-source-count" ng-bind="snapshots[6]+'%'"></span>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-md-5">
	                        	<div class="tile_stats_count-tp">
	                            <div class="snap-context">
	                                <div class="count_top">
	                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint <b ng-if="snapshots[8]" ng-bind="'('+snapshots[8]+')'"></b>
	                                </div>
	                                <div class="dash-context-text text-red count-com" id="most_complaint_topics">
	                                    <span class="no-topic"></span> <span title="{{snapshots[7].replace(',' , ' | ').replace(',' , ' | ')}}" ng-bind="snapshots[7].replace(',' , ' | ').replace(',' , ' | ')"></span>
	                                </div>
	                            </div>
	                        </div>
	                        </div>
	                    </div>
	                    <div class="row tile_count border-top">
	                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
	                            <div class="snap-context">
	                                <div class="count_top">
	                                    <i class="fa fa-comments"></i> Top Contexts
	                                </div>
	                                <div class="dash-context-text count-com" id="top_entity">
	                                    <span ng-if="snapshots[9]==''" class="no-topic" ng-bind="'No topic'"></span> 
	                                    <span ng-bind="snapshots[9].replace(',' , ' | ').replace(',' , ' | ').replace(',' , ' | ')"></span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	    </div>
	</div>
	<div class="row margin-lt-rt-0 Monthly-snapshot-wapper showHide">
	    <div class="dashboard-carousel-monthly">
	            <div class="slide" ng-repeat="snapshots in snapshotDataMonthly" >
	                <div class="snap-block">
	                    <div class="count_top"><i class="snap-icon fa {{snapshots[10]}}"></i> <span ng-bind="snapshots[0]"></span></div>
	                    <div class="row">
	                        <div class="col-md-7">
	                            <div class="snap-source">
	                                <div class="lt"><span class="snap-source-name">FEEDBACK</span></div>
	                                <div class="rt">
	                                    <div>
											<span ng-bind="snapshots[1]"></span>
											<span class="caret-abz text-center"><i ng-class="(snapshots[1]>=snapshots[2])?'green fa fa-caret-up fa-lg':'red fa fa-caret-down fa-lg'"></i></span>
											<span class="snap-source-count" ng-bind="snapshots[3]+'%'"></span>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="snap-source">
	                                <div class="lt"><span class="snap-source-name">COMPLAINT </span></div>
	                                <div class="rt">
	                                    <div>
											<span class="red" ng-bind="snapshots[4]"></span>
											<span class="caret-abz text-center"><i ng-class="(snapshots[4]>=snapshots[5])?'red fa fa-caret-up fa-lg':'green fa fa-caret-down fa-lg'"></i></span>
											<span class="snap-source-count" ng-bind="snapshots[6]+'%'"></span>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-md-5">
	                        	<div class="tile_stats_count-tp">
	                            <div class="snap-context">
	                                <div class="count_top">
	                                    <i class="fa fa-exclamation-triangle red-ico"></i> Top Complaint <b ng-if="snapshots[8]" ng-bind="'('+snapshots[8]+')'"></b>
	                                </div>
	                                <div class="dash-context-text text-red count-com" id="most_complaint_topics">
	                                    <span class="no-topic"></span> <span title="{{snapshots[7].replace(',' , ' | ').replace(',' , ' | ')}}" ng-bind="snapshots[7].replace(',' , ' | ').replace(',' , ' | ')"></span>
	                                </div>
	                            </div>
	                        </div>
	                        </div>
	                    </div>
	                    <div class="row tile_count border-top">
	                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 tile_stats_count">
	                            <div class="snap-context">
	                                <div class="count_top">
	                                    <i class="fa fa-comments"></i> Top Contexts
	                                </div>
	                                <div class="dash-context-text count-com" id="top_entity">
	                                    <span ng-if="snapshots[9]==''" class="no-topic" ng-bind="'No topic'"></span> 
	                                    <span ng-bind="snapshots[9].replace(',' , ' | ').replace(',' , ' | ').replace(',' , ' | ')"></span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	    </div> 
    
	</div>
</div>
</div>
</div>
 -->