.top_nav {background: #f2f2f2; border-bottom: 1px solid #ccc;}
.header-txt {color: #000;}
.primary-btn{background: #43413b; color: #fff;}
.black-btn, .user-search .fa {background: #43413b; color: #fff;}
.exp-radio:before {background: #ee6e31;}
.logout_contain {background-color: #ee6e31;}
.nbt-user ul li.sp2 {background-color: #ff915d;}
.sub-nav-bar{background-color: #000;}
.side_bar{background-color: #43413b;}
.navigation a {color: rgba(255, 255, 255, 0.7);}
.navigation li{border-bottom:1px solid rgba(255, 255, 255, 0.7);}
.navigation li a:hover, .navigation li a.active{background-color: #ee6e31; color: #fff}
.latest-news {border: 1px solid #ee6e31; background-color: #fff;}
.latest-news > h3, .view-all-latest-news, .view-all-latest-news:hover, .view-all-latest-news:focus {background: #ee6e31 !important;}
.footer { background: #ee6e31;}
.block-body{background: #fff; border: 1px solid #ccc;}
.block-head {background-color: #ee6e31; color: #fff;}
.graph-title, .activeprofile h4  { color: #ee6e31;}
#accordion > .panel-default > .panel-heading, .feedback-template button[type="button"]  {
	background-color: #ee6e31 !important;
}
.nbt-tab-ul li.active a:after, .nbt-tab-ul li.active a::after,
#rating .nav-tabs > li.active > a:after, #rating .nav-tabs > li.active > a::after {
	background: #ee6e31;
}
.context-filter-wapper.inner-filter .fa-filter, .user-name {color: #ee6e31;}
.nbt-tab-ul li a:hover, .pagination > li > a, .pagination > li > span{color: #ee6e31;}
.activeprofile .block-head, .setting-wrapper .block-head, .block-head-black, .word-cloud-title {background-color: #43413b; color: #fff;}
.pagination > li.active > a, .pagination > li.pagination-action > a,
.pagination > li.active > span, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
	background-color: #ee6e31;
	border-color: #ee6e31;
}
.page-title{border-color: #ee6e31;}
.loader,
.loader:before,
.loader:after {
  background: #ee6e31;
}
#setting .btn {
    background: #ff915d;
}
.nbt-table thead tr {
    background: #43413b !important;
    border: 1px solid #43413b;
}
.table-head {
    background: #43413b;
}
.filters > li a, .filters > li:after {color: #000;}
#tkt-create-modal .btn, #tkt-mng-modal .btn{background: #22adca; color: #fff;}
.loader, .page-title h2 {
    color: #ee6e31;
}
.pagination > .active > a:hover, .pagination > li > a:hover,
#rating .nav-tabs > li a:hover{
	background: #ff915d;
	border-color: #ff915d;
	color: #fff;
}

.bgcolor-positive{
	background: #3ebec1;	
}
.bgcolor-negative{
	background: #eb7069;	
}
.bgcolor-neutral{
	background: #dcdddf;	
}
.text-positive{
	color: #3ebec1;	
}
.text-negative{
	color: #eb7069;	
}
.text-neutral{
	color: #858688;	
}
.text-green {
	color: #8DC153;
}
.text-red {
	color: #f55348;
}
.text-yellow {
	color: #F6BC41;
}
#tblsocList1 .fa-facebook-official, .facebook, #tblDashboard .fa-facebook-official, #tableWordCloud .fa-facebook-official {
	color: #4867AA;
}
#tblsocList1 .fa-twitter, .twitter, #tblDashboard .fa-twitter, #tableWordCloud .fa-twitter {
	color: #00ACED;
}
#tblsocList1 .fa-rss, .rss, #tableWordCloud .fa-rss {
	color: #ff6600;
}
#tblsocList .fa-facebook-official, .facebook {
	color: #4867AA;
}
#tblsocList .fa-twitter, .twitter {
	color: #00ACED;
}
#tblsocList .fa-rss, .rss {
	color: #ff6600;
}
#tblVirality .fa-facebook-official, .facebook {
	color: #4867AA;
}
#tblVirality .fa-twitter, .twitter {
	color: #00ACED;
}
#tblVirality .fa-rss, .rss {
	color: #ff6600;
}
.filter-bar {
    background: #ee6e31;
}
.green-ico {
	color: #7ba75c;
}
.red-ico {
	color: #f55348;
}

.background- {
	background-color: #d4d4d4;
}
.background-positive {	/* color: #7ba75c; */
	background-color: #8DC153;
}
.background-negative {
	background-color: #f55348;/* color: #f76f66; */
}
.background-neutral {
	background-color: #F6BC41;
}

.bg-green {background-color: #679f02;}
.bg-red {background-color: #eb1f0b;}
.bg-orange {background-color: #ff7e12;}

.txt-green {color: #679f02;}
.txt-red {color: #eb1f0b;}

.mt-0{margin-top:0px !important;}
.mt-1{margin-top:5px !important;}
.mt-2{margin-top:10px !important;}
.mt-3{margin-top:15px !important;}
.mt-4{margin-top:20px !important;}
.mt-5{margin-top:25px !important;}
.mt-6{margin-top:30px !important;}
.mt-7{margin-top:35px !important;}
.mt-8{margin-top:40px !important;}
.mt-9{margin-top:45px !important;}
.mt-10{margin-top:50px !important;}

.mb-0{margin-bottom:0px !important;}
.mb-1{margin-bottom:5px !important;}
.mb-2{margin-bottom:10px !important;}
.mb-3{margin-bottom:15px !important;}
.mb-4{margin-bottom:20px !important;}
.mb-5{margin-bottom:25px !important;}
.mb-6{margin-bottom:30px !important;}
.mb-7{margin-bottom:35px !important;}
.mb-8{margin-bottom:40px !important;}
.mb-9{margin-bottom:45px !important;}
.mb-10{margin-bottom:50px !important;}

.ml-0{margin-left:0px !important;}
.ml-1{margin-left:5px !important;}
.ml-2{margin-left:10px !important;}
.ml-3{margin-left:15px !important;}
.ml-4{margin-left:20px !important;}
.ml-5{margin-left:25px !important;}
.ml-6{margin-left:30px !important;}
.ml-7{margin-left:35px !important;}
.ml-8{margin-left:40px !important;}
.ml-9{margin-left:45px !important;}
.ml-10{margin-left:50px !important;}

.mr-0{margin-right:0px !important;}
.mr-1{margin-right:5px !important;}
.mr-2{margin-right:10px !important;}
.mr-3{margin-right:15px !important;}
.mr-4{margin-right:20px !important;}
.mr-5{margin-right:25px !important;}
.mr-6{margin-right:30px !important;}
.mr-7{margin-right:35px !important;}
.mr-8{margin-right:40px !important;}
.mr-9{margin-right:45px !important;}
.mr-10{margin-right:50px !important;}

.padding-0{padding: 0;}

.pt-0{padding-top:0px !important;}
.pt-1{padding-top:5px !important;}
.pt-2{padding-top:10px !important;}
.pt-3{padding-top:15px !important;}
.pt-4{padding-top:20px !important;}
.pt-5{padding-top:25px !important;}
.pt-6{padding-top:30px !important;}
.pt-7{padding-top:35px !important;}
.pt-8{padding-top:40px !important;}
.pt-9{padding-top:45px !important;}
.pt-10{padding-top:50px !important;}

.pb-0{padding-bottom:0px !important;}
.pb-1{padding-bottom:5px !important;}
.pb-2{padding-bottom:10px !important;}
.pb-3{padding-bottom:15px !important;}
.pb-4{padding-bottom:20px !important;}
.pb-5{padding-bottom:25px !important;}
.pb-6{padding-bottom:30px !important;}
.pb-7{padding-bottom:35px !important;}
.pb-8{padding-bottom:40px !important;}
.pb-9{padding-bottom:45px !important;}
.pb-10{padding-bottom:50px !important;}

.pl-1{padding-left:5px !important;}
.pl-2{padding-left:10px !important;}
.pl-3{padding-left:15px !important;}
.pl-4{padding-left:20px !important;}
.pl-5{padding-left:25px !important;}
.pl-6{padding-left:30px !important;}
.pl-7{padding-left:35px !important;}
.pl-8{padding-left:40px !important;}
.pl-9{padding-left:45px !important;}
.pl-10{padding-left:50px !important;}

.pr-1{padding-right:5px !important;}
.pr-2{padding-right:10px !important;}
.pr-3{padding-right:15px !important;}
.pr-4{padding-right:20px !important;}
.pr-5{padding-right:25px !important;}
.pr-6{padding-right:30px !important;}
.pr-7{padding-right:35px !important;}
.pr-8{padding-right:40px !important;}
.pr-9{padding-right:45px !important;}
.pr-10{padding-right:50px !important;}

