.top_nav {background: #f2f2f2; border-bottom: 1px solid #ccc;}
.header-txt {color: #000;}
.primary-btn{background: #540485; color: #fff;}
.black-btn, .user-search .fa  {background: #000; color: #fff;}
.exp-radio:before {background: #540485;}
.logout_contain {background-color: #540c85;}
.nbt-user ul li.sp2 {background-color: #8636b7;}
.sub-nav-bar{background-color: #000;}
.side_bar{background-color: #7b26af;}
.navigation a {color: #dfacff;}
.navigation li{border-bottom:1px solid #b07dcf;}
.navigation li a:hover, .navigation li a.active{background-color: #540485; color: #fff}
.latest-news {border: 1px solid #7b26af; background-color: #fff;}
.latest-news > h3, .view-all-latest-news, .view-all-latest-news:hover, .view-all-latest-news:focus {background: #540485 !important;}
.footer { background: #540485;}
.block-body{background: #fff; border: 1px solid #ccc;}
.block-head {background-color: #540485; color: #fff;}
.graph-title, .activeprofile h4  { color: #540485;}
#accordion > .panel-default > .panel-heading, .feedback-template button[type="button"],
.purple-btn  {
	background-color: #540485 !important;
	background: #540485 !important;
}
.nbt-tab-ul li.active a:after, .nbt-tab-ul li.active a::after,
#rating .nav-tabs > li.active > a:after, #rating .nav-tabs > li.active > a::after {
	background: #540485;
}
.nbt-tab-ul li a:hover, .pagination > li > a, .pagination > li > span, .pagination > li > a:hover,
#rating .nav-tabs > li a:hover{color: #540485;}
.activeprofile .block-head, .setting-wrapper .block-head, .block-head-black, .word-cloud-title {background-color: #000; color: #fff;}
.pagination > li.active > a, .pagination > li.pagination-action > a,
.pagination > li.active > span, .pagination > li.active > a:focus, .pagination > li.active > span:focus {
	background-color: #540485;
	border-color: #540485;
}
.page-title{border-color: #540485;}
.table-head {
    background: #43413b;
}
.inner-filter .fa-filter {color: #540485;}
.loader,
.loader:before,
.loader:after {
  background: #540485;
}
#tkt-create-modal .btn, #tkt-mng-modal .btn, .close-btn,
#ticketInfoModal .btn{background: #22adca; color: #fff;}
.loader, .page-title h2 {
    color: #540485;
}
.pagination > .active > a:hover{
	background: #8636b7;
	border-color: #8636b7;
}
.bgcolor-positive{
	background: #3ebec1;	
}
.bgcolor-negative{
	background: #eb7069;	
}
.bgcolor-neutral{
	background: #dcdddf;	
}
.text-positive{
	color: #3ebec1;	
}
.text-negative{
	color: #eb7069;	
}
.text-neutral{
	color: #858688;	
}
.text-green {
	color: #8DC153;
}
.text-red {
	color: #f55348;
}
.text-yellow {
	color: #F6BC41;
}
#tblsocList1 .fa-facebook-official, .facebook, #tblDashboard .fa-facebook-official, #tableWordCloud .fa-facebook-official {
	color: #4867AA;
}
#tblsocList1 .fa-twitter, .twitter, #tblDashboard .fa-twitter, #tableWordCloud .fa-twitter {
	color: #00ACED;
}
#tblsocList1 .fa-rss, .rss, #tableWordCloud .fa-rss {
	color: #ff6600;
}
#tblsocList .fa-facebook-official, .facebook {
	color: #4867AA;
}
#tblsocList .fa-twitter, .twitter {
	color: #00ACED;
}
#tblsocList .fa-rss, .rss {
	color: #ff6600;
}
#tblVirality .fa-facebook-official, .facebook {
	color: #4867AA;
}
#tblVirality .fa-twitter, .twitter {
	color: #00ACED;
}
#tblVirality .fa-rss, .rss {
	color: #ff6600;
}
.filter-bar {
    background: #540485;
}
.green-ico {
	color: #7ba75c;
}
.red-ico {
	color: #f55348;
}

.background- {
	background-color: #d4d4d4;
}
.background-positive {	/* color: #7ba75c; */
	background-color: #8DC153;
}
.background-negative {
	background-color: #f55348;/* color: #f76f66; */
}
.background-neutral {
	background-color: #F6BC41;
}

.bg-green {background-color: #679f02;}
.bg-red {background-color: #eb1f0b;}
.bg-orange {background-color: #ff7e12;}

.txt-green {color: #679f02;}
.txt-red {color: #eb1f0b;}

.daterangepicker .ranges li {color: #540485;}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #540485 !important;
  border: 1px solid #540485 !important;
  color: #fff;
}
.daterangepicker td.in-range {
  background: rgba(84, 4, 133, 0.09) !important;
}
.daterangepicker td.active, .daterangepicker td.active:hover {
  background: #540485 !important;
  color: #fff;
}
.daterangepicker .input-mini.active {
    border: 1px solid #7b26af;
}

.periodic-comp-source-list li.active{
	background: #7b26af;	
}
.periodic-comp-source-list li.active a{
	color: #fff;
}

.periodic-comp-source-list li.active .active-arrow{
	border-left: 15px solid #7b26af; 
}

.swal-button--confirm {
    background-color: #540485 !important;
}

.review-tooltip-tbl table th {
    background-color: #540485;
    color: #fff;
}